@import '../../utils/vars';
@import '../../utils/mixins';
@import '../icon/icon';

.dropdown {
  max-width: 20rem;
  width: 100%;
  color: $color-font-75;

  @include _1200 {
    max-width: none;
  }

  &__title {
    @include font-button;

    color: $color-font-100;
  }

  &__hint {
    @include font-hint;

    color: $color-font-50;
    float: right;
    text-transform: uppercase;
    margin-top: 2px;
  }

  &__box {
    @include font-hint-875;

    position: relative;
    color: $color-font-75;
    margin-top: 0.3125rem;
  }

  &__input {
    @include font-hint-875;

    color: $color-font-75;
    width: 100%;
    line-height: 2.625rem;
    padding: $input-padding;
    border: 0.0625rem solid $color-font-25;
    border-radius: 0.25rem;
    transition: border 0.25s ease-in-out;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: none;
      border: 0.0625rem solid $color-font-75;

      &::placeholder {
        color: $color-font-75;
      }
    }

    &_hover {
      border: 0.0625rem solid $color-font-50;
    }
  }

  &__button-icon {
    @include reset-button;

    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    color: $color-font-50;
    font-size: $font-copyright-icon;

    &:hover {
      color: $color-font-75;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    padding: 0.2rem 0.375rem 0.1rem 0.875rem;
    border: 0.0625rem solid $color-font-50;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: $header-shadow;
    background-color: white;
    z-index: 10;

    &_expanded {
      display: block;
    }
  }

  &__list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.42rem;
    list-style-type: none;
  }

  &__item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__counter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 5.75rem;
  }

  &__item-name,
  &__counter {
    @include font-button;

    color: $color-font-100;
  }

  &__counter-button-minus,
  &__counter-button-plus {
    @include reset-button;

    $diam: 1.875rem;

    display: inline-block;
    font-size: $font-standard;
    color: $color-font-50;
    text-align: center;
    width: $diam;
    height: $diam;
    border-radius: 50%;
    border: 0.0625rem solid $color-font-25;
  }

  &__counter-button-minus_disabled,
  &__counter-button-plus_disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &__footer-buttons {
    list-style-type: none;
    display: flex;
    line-height: 2.5rem;
    justify-content: space-between;
  }

  &__clear-button {
    &_hidden {
      visibility: hidden;
    }
  }

  &__button_theme_textual {
    @include reset-button;
    @include font-button;

    border-radius: 1.375rem;
    background: none;
    margin-top: 0.6rem;
  }

  &__button-caption_color_main {
    color: $color-main;

    &:hover {
      color: $color-font-50;
    }
  }
}
