@import '../../utils/vars';
@import '../../utils/mixins';

.dropdown {
  max-width: 20rem;
  width: 100%;
  color: $color-dark-75;

  @include _1200 {
    max-width: none;
  }

  &__title {
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $color-dark-100;
    font-weight: bold;
    font-size: 0.75rem;
  }

  &__hint {
    font-family: Montserrat, Arial, sans-serif;
    color: $color-dark-50;
    float: right;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 2px;
  }

  &__box {
    position: relative;
    font-size: 0.875rem;
    color: $color-dark-75;
    margin-top: 0.3125rem;
  }

  &__input {
    font: 0.875rem Montserrat, Arial, sans-serif;
    color: $color-dark-75;
    width: 100%;
    line-height: 2.625rem;
    padding: 0 2.375rem 0 0.875rem;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.25rem;
    transition: border 0.25s ease-in-out;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: none;
      border: 0.0625rem solid $color-dark-75;

      &::placeholder {
        color: $color-dark-75;
      }
    }

    &_hover {
      border: 0.0625rem solid $color-dark-50;
    }
  }

  &__button {
    @include reset-button;

    color: $color-dark-50;
    position: absolute;
    padding-top: 2.8rem;
    top: 0;
    right: 0;
    padding-right: 2.55rem;
    height: 2.6rem;

    &::before {
      top: 0.6875rem;
      left: 0.5rem;
      position: absolute;
      content: 'expand_more';
      color: $color-dark-75;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    padding: 0.29rem 0.375rem 0.1rem 0.875rem;
    border: 0.0625rem solid $color-dark-50;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 0.625rem 1.25rem $color-dark-5;
    background-color: white;
    z-index: 10;

    &_expanded {
      display: block;
    }
  }

  &__list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.42rem;
    list-style-type: none;
  }

  &__item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__counter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 5.75rem;
  }

  &__item-name,
  &__counter {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-dark-100;
  }

  &__counter-buttons_type_minus,
  &__counter-buttons_type_plus {
    @include reset-button;

    $diam: 1.875rem;

    display: inline-block;
    font-size: 1rem;
    color: $color-dark-50;
    text-align: center;
    width: $diam;
    height: $diam;
    border-radius: 50%;
    border: 0.0625rem solid $color-dark-25;
  }

  &__counter-buttons_type_minus_disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &__footer-buttons {
    list-style-type: none;
    display: flex;
    line-height: 2.5rem;
    justify-content: space-between;
  }

  &__clear-buttons {
    &_hidden {
      visibility: hidden;
    }
  }

  &__button_theme_textual {
    @include reset-button;

    font: bold 0.75rem Montserrat, Arial, sans-serif;
    border-radius: 1.375rem;
    background: none;
    margin-top: 0.6rem;
  }

  &__button-caption_color_purple {
    color: $color-purple;

    &:hover {
      color: $color-dark-50;
    }
  }

  &__button-caption_color_dark {
    color: $color-dark-50;

    &:hover {
      color: $color-dark-25;
    }
  }
}
