@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../../node_modules/paginationjs/dist/pagination.css';

.pagination {
  min-width: 23rem;

  .paginationjs {
    font-family: Montserrat, Arial, sans-serif;
    display: grid;
  }

  .paginationjs-nav {
    justify-self: start;
    margin-top: 0.1rem;
    margin-left: 0.35rem;
    font-size: 0.875rem;
    color: $color-dark-75;
  }

  .paginationjs-pages {
    align-items: center;
  }

  .J-paginationjs-page {
    a {
      &:focus-visible,
      &:focus,
      &:hover {
        outline: none;
        background: #eee;
        border-radius: 50%;
      }
    }
  }

  .paginationjs-pages li {
    border: none;

    a {
      font-size: 0.75rem;
      color: $color-dark-50;
    }
  }

  .active {
    background: $grad-purple;
    border-radius: 50%;
    cursor: pointer;
  }

  .paginationjs .paginationjs-pages li:first-child,
  .paginationjs .paginationjs-pages li:first-child > a {
    border-radius: 50%;
  }

  .paginationjs-pages li.active > a {
    color: white;
    background: $grad-purple;
    border-radius: 50%;
  }

  .paginationjs-page,
  .paginationjs-ellipsis,
  .paginationjs-next,
  .paginationjs-prev {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
  }

  .paginationjs .paginationjs-pages li:last-child {
    border: none;
    border-radius: 50%;
  }

  .paginationjs .paginationjs-pages li.disabled > a {
    opacity: 1;
  }

  .paginationjs-next,
  .paginationjs-prev {
    background: $grad-green;
    border: none;

    &:hover {
      background: #eee;
    }
  }

  .pagination__arrow-next {
    &::before {
      top: 0.1875rem;
      left: 0.5rem;
      position: absolute;
      content: 'arrow_forward';
      color: white;
    }
  }

  .pagination__arrow-prev {
    &::before {
      top: 0.1875rem;
      left: 0.5rem;
      position: absolute;
      content: 'arrow_back';
      color: white;
    }
  }

  .pagination__arrow-next,
  .pagination__arrow-prev {
    position: relative;
    height: 2.75rem;
    width: 2.75rem;
  }

  .js-current-page {
    opacity: 0;
  }

  .paginationjs .paginationjs-pages .paginationjs-next > a,
  .paginationjs .paginationjs-pages .paginationjs-prev > a {
    background: inherit;
    border-radius: 50%;

    &:focus-visible,
    &:focus {
      outline: none;
      background: #eee;
      height: 2.5rem;
      width: 2.5rem;

      .pagination__arrow-next::before,
      .pagination__arrow-prev::before {
        top: 0.625rem;
      }
    }
  }
}
