@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/footer/footer';
@import '../../components/room-search/room-search';
@import '../../components/image-slider/image-slider';
@import '../../components/header/header';

.landing {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }

  &__container {
    max-width: 75.875rem;
    margin: 0 auto;
    padding-left: 1.7rem;
    padding-right: 1.3rem;
  }

  &__room-search {
    padding-top: 4.375rem;
    max-width: 23.75rem;
    padding-bottom: 19.8rem;
  }

  &__slogan {
    display: grid;
    justify-items: end;
    margin-bottom: 1.25rem;
  }

  &__slogan-text {
    max-width: 18.5625rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    justify-self: end;
    color: $color-dark-75;
  }
}
