@import '../../styles/font';
@import '../../utils/vars';
@import '../../utils/mixins';

.input-text {
  //display: inline;
  .input__title {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
    color: $color-dark-100;
    font-weight: bold;
  }
  .label__hint {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: $color-dark-50;
    float: right;
  }
  .input__box {
    $lineHeight: 2.75rem;
    $borderRadius: 0.25rem;
    display: flex;
    position: relative;
    line-height: $lineHeight;
    font-size: 0.75rem;
    margin: 0.25rem auto 0.5rem;

    .input {
      width: 100%;
      line-height: 2.625rem;
      padding: 0 2.375rem 0 0.875rem;
      border: 1px solid $color-dark-25;
      border-radius: $borderRadius;
      font-size: 0.875rem;
      color: $color-dark-75;
      transition: border 0.25s ease-in-out;
      &:focus,
      &:hover {
        outline: none;
        border: 0.0625rem solid $color-dark-50;
      }
    }
    .text-input__submit-button {
      @include reset-button;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.8125rem;
      width: 1.125rem;
      height: 1.125rem;
      background: url('./img/arrow-forward.svg') no-repeat center center;
    }
  }
}
