mixin input(options)
  -
    var titleClassName = "title"
    titleClassName += options.isData ? " title-data" : ""
    var ClassName = "input"
    ClassName += options.isData ? " input-data" : ""

  div.input-text
    span.input__title(class = titleClassName)= options.title
    if options.hint
      span.label__hint= options.hint
    div.input__box
      input(type = options.type, class= ClassName, name = options.name, placeholder = options.placeholder, value = options.value)
      if options.withButton
        button.text-input__submit-button(type='submit')

