@import '../../utils/main';
@import '../../utils/mixins';

.input {
  max-width: 20rem;
  width: 100%;

  @include _1200 {
    max-width: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $color-dark-100;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.7375rem;
  }

  &__hint {
    font-family: Montserrat, Arial, sans-serif;
    color: $color-dark-50;
    font-size: 0.75rem;
    line-height: 0.7375rem;
  }

  &__box {
    display: flex;
    position: relative;
    line-height: 2.75rem;
    font-size: 0.75rem;
    margin: 0.45rem auto 0.5rem;
  }

  &__input {
    font-family: Montserrat, Arial, sans-serif;
    width: 100%;
    line-height: 2.625rem;
    padding: 0 2.375rem 0 0.875rem;
    border: 1px solid $color-dark-25;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: $color-dark-25;

    &::placeholder {
      color: $color-dark-25;
      transition: color 0.5s ease-in-out;
    }

    transition: border 0.5s, color 0.5s ease-in-out;

    &:focus,
    &:hover {
      outline: none;
      border: 0.0625rem solid $color-dark-50;
      color: $color-dark-75;

      &::placeholder {
        color: $color-dark-75;
      }
    }
  }

  &__submit-button {
    @include reset-button;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8125rem;
    width: 1.125rem;
    height: 1.125rem;
    background: url('./img/arrow-forward.svg') no-repeat center center;
  }

  :focus::placeholder {
    color: transparent;
  }
}
