mixin input(options)
  - const {isData, title, hint, type, name, placeholder, value, withButton} = options || {}
  -
    var titleClassName = "title"
    titleClassName += isData ? " title-data" : ""
    var ClassName = "input"
    ClassName += isData ? " input-data" : ""

  div.input-text
    if title
      span.input__title(class = titleClassName)= title
    if hint
      span.label__hint= hint
    div.input__box
      input(type = type, class= ClassName, name = name, placeholder = placeholder, value = value)
      if withButton
        button.text-input__submit-button(type='submit')

