include ../icon/icon.pug

mixin rate-button(options)
  - const { base, rate, name, id } = options || {};
  - const ratingList = ['Ужасно', 'Так себе', 'Нормально', 'Хорошо', 'Отлично'];

  .rate-button
    - for(let i = 0; i < base; i++)
      - const iconName = i >= rate ? 'star_border' : 'star';
      span.rate-button__icon
        +icon({ icon:iconName })
