@import '../../utils/vars';
@import '../../utils/mixins';

.rate-button {
  display: flex;

  &__icon {
    $size: 1.5rem;

    font-size: $size;
    color: transparent;
    background-image: $grad-main;
    background-clip: text;
  }
}
