@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/dropdown/dropdown';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/button/button';

.room-search {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: $form-shadow;
  padding: $form-padding;
  border-radius: 0.25rem;

  &__header {
    padding-bottom: 1.05rem;
  }

  &__calendar {
    padding-bottom: 1.05rem;
  }

  &__dropdown_guests {
    padding-bottom: 2rem;
  }
}
