@import '../../utils/vars';
@import '../../utils/mixins';

.chart {
  position: relative;

  &__sum {
    position: absolute;
    top: 41px;
    left: 54px;
    z-index: -1;
    user-select: none;
    color: $color-main;
    background-image: none;
    background-clip: text;
  }

  &__number {
    @include font-like-h1;

    text-align: center;
  }

  &__text {
    @include font-button;
  }
}
