@import '../../utils/vars';
@import '../../utils/mixins';

.chart {
  position: relative;

  &__sum {
    position: absolute;
    top: 36px;
    left: 54px;
    z-index: -1;
  }

  &__number {
    @include font-like-h1;

    color: $color-purple;
    text-align: center;
  }

  &__text {
    @include font-button;

    color: $color-purple;
  }
}
