@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/button/button';
@import '../../components/input/input';

.login-form {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: $form-shadow;
  padding: $login-padding;
  border-radius: 0.25rem;
  max-width: 23.75rem;

  &__title {
    @include font-h1;
  }

  &__header {
    margin-bottom: 1.3rem;
  }

  &__email {
    margin-bottom: 0.6rem;
  }

  &__password {
    margin-bottom: 1.25rem;
  }

  &__button {
    margin-bottom: 1.95rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hint {
    @include font-hint-875;

    line-height: 1.125rem;
    padding-bottom: 0.2rem;
    color: #000;
  }
}
