@import '../../utils/vars';
@import '../../utils/font';
@import '../../utils/mixins';

.button {
  padding: 0 1.4125rem 0 1.1875rem;
  height: 2.75rem;
  appearance: none;
  border: none;
  border-radius: 1.375rem;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0 0.3125rem 0.3125rem $color-dark-25;
  }
  &__text {
    font-size: 0.75rem;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    &_theme_white {
      color: white;
    }
    &_theme_purple {
      color: $color-purple;
    }
  }
  &_theme_purple {
    background: $grad-purple;
  }
  &_theme_white {
    background: white;
    border: 0.125rem solid $color-purple;
    padding: 0 1.3rem 0 1.05rem;
  }
  &_theme_transparent {
    padding: 0;
    height: initial;
    width: initial;
    background: transparent;
    &:hover,
    &:focus {
      box-shadow: none;
      text-shadow: 0 0.3125rem 0.3125rem $color-dark-25;
    }
  }
  &_size_large {
    max-width: 20rem;
    width: 100%;
    padding: 0;
    .button__group {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
    }
    .button__text {
      grid-column-start: 2;
    }
    .button__arrow {
      background: url('./img/arrow_forward.svg') no-repeat center center;
      height: 2.75rem;
      width: 2.75rem;
      justify-self: end;
    }
  }
  &_disabled {
    opacity: 0.5;
    &:hover,
    &:focus {
      box-shadow: none;
      text-shadow: none;
      cursor: default;
    }
  }
  &_transparent_disabled {
    .button__text {
      color: $color-dark-50;
    }
    &:hover,
    &:focus {
      box-shadow: none;
      text-shadow: none;
      cursor: default;
    }
  }
}
