extends ../../layout/main.pug

include ../../components/input/input.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/logo/logo.pug
include ../../components/expandableCheckboxList/expandableCheckboxList.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radioButton/radioButton.pug
include ../../components/toggle/toggle.pug
include ../../components/likeButton/likeButton.pug
include ../../components/rateButton/rateButton.pug
include ../../components/rangeSlider/rangeSlider.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/richCheckbox/richCheckbox.pug
include ../../components/bulletList/bulletList.pug
include ../../components/info/info.pug


block variables
  - var title = "formElements"

block content
  .formElements
    nav.formElements__logo 
      +logo
    .formElements__main
      .formElements-input
        +input({title: "Text Field", type:'email', name:'email', placeholder:'Email', hint:'DEFAULT'})
        +input({title: "Text Field", type:'text', name:'This is pretty awesome',placeholder:'This is pretty awesome', hint:'HOVER/FOCUS',})
        +dropdown({title:"Dropdown", hint:"default", name:"Number", placeholder:"Количество комнат",rows: [
            {count: 2, text: 'спальни', typeOfCount:'bedroom'},
            {count: 2, text: 'кровати', typeOfCount:'bed'},
            {count: 0, text: 'ванные комнаты', typeOfCount: 'bathroom'},
          ],isExpanded: false, type:"rooms",})
        +input({title: "MASKED TEXT FIELD",type:'text', name:'text', isData:true})
        +input({title: "SUBSCRIPTION TEXT FIELD", type:'email', name:'text', placeholder:'Email', withButton :true})
        +dropdown({title:"Dropdown", hint:"default", name:"guestNumber", placeholder:"Сколько гостей",type:"guest",rows: [
            {count: 0, text: 'взрослые', typeOfCount:'adult'},
            {count: 0, text: 'дети', typeOfCount:'children'},
            {count: 0, text: 'младенцы', typeOfCount:'baby'},
          ]})
        +dateDropdown({title:"Date Dropdown", type:'double',isExpanded:false, id: 'first'})
        +dateDropdown({title:"Filter date dropdown", type:'single', })
        +dateDropdown({title:"Date Dropdown", type:'double', id: 'second'})
        +expandableCheckboxList({title:'expandable checkbox list',isExpanded:true ,rows:[
          {title:"Завтрак", name:'Breakfast'},
          {title:"Письменный стол", name:'Desk'},
          {title:"Стул для кормления", name:'Feeding chair'},
          {title:"Кроватка", name:'Crib'},
          {title:"Телевизор", name:'TV'},
          {title:"Шампунь", name:'Shampoo'},
          {title:"Телевизор", name:'TV1'},
          {title:"Шампунь", name:'Shampoo1'},
        ]})
        +checkbox({header:'Checkbox Buttons', rows: [
          {title:"Можно курить", name:'smoke'},
          {title:"Можно с питомцами", name:'pet'},
          {title:"Можно пригласить гостей (до 10 человек)", name:'more guests'},
        ]})
        +radioButton({header:"Radio Buttons", rows:[
          {caption:"Мужчина", id:'Men'},
          {caption:"Женщина", id:'Women'},
        ]})
        +toggle({header:'Toggle', rows:[
          {caption:'Получать спецпредложения', name:'special offers'},
          {caption:'Получать спецпредложения', name:'special offers'},
        ]})
        +likeButton({count:'2'})
        +likeButton({count:'12', isPressed: true})
        +rateButton({base:5, rate: 4, isVariable:true, name:'rating'})
        +rateButton({base:5, rate: 5, isVariable:true, name:'rating_1'})
        +rangeSlider({title:"Range Slider", min:"0", max:"16000"})
        +button({theme:'purple', textTheme:'white', text:'click me'})
        +button({theme:'purple', textTheme:'white', text:'click me', isDisabled:true})
        +button({theme:'white', textTheme:'purple', text:'click me'})       
        +button({theme:'white', textTheme:'purple', text:'click me', isDisabled:true})
        +button({theme:'transparent', textTheme:'purple', text:'click me'})
        +button({theme:'transparent', textTheme:'purple', text:'click me', isTransparentDisabled: true})
        +button({theme:'purple', textTheme:'white', text:'Перейти к оплате', isLarge: true})
        +pagination
        +richCheckbox({header:'rich Checkbox Buttons', rows:[
          {title:'Широкий коридор', name:'wide corridor', subtitle:'Ширина коридоров в номере не менее 91 см.'},
          {title:'Помощник для инвалидов', name:'Assistant for the disabled', subtitle:'На 1 этаже вас встретит специалист  и проводит до номера.'},
        ]})
        +bulletList({header:'Bullet List', rows:[
          {text:'Нельзя с питомцами'},
          {text:'Без вечеринок и мероприятий'},
          {text:'Время прибытия — после 13:00, а выезд до 12:00'},
        ]})
        +info({title:'Комфорт', subtitle:'Шумопоглощающие стены', icon:'insert_emoticon'})
        +info({title:'Удобство', subtitle:'Окно в каждой из спален', icon:'location_city'})
