extends ../../layout/main.pug

include ../../components/input/input.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/logo/logo.pug

block variables
  - var title = "formElements"

block content
  .formElements
    nav.formElements__logo 
      +logo
    .formElements__main
      .formElements-input
        +input({title: "Text Field", type:'email', name:'email', placeholder:'Email', hint:'DEFAULT'})
        +input({title: "Text Field", type:'text', name:'This is pretty awesome',placeholder:'This is pretty awesome', hint:'HOVER/FOCUS',})
        +dropdown({title:"Dropdown", hint:"default", name:"Number", placeholder:"Количество комнат",rows: [
            {count: 2, text: 'спальни', typeOfCount:'bedroom'},
            {count: 2, text: 'кровати', typeOfCount:'bed'},
            {count: 0, text: 'ванные комнаты', typeOfCount: 'bathroom'},
          ], dropdownExpanded:"dropdown__list_expanded!", type:"rooms",})
        +input({title: "MASKED TEXT FIELD",type:'text', name:'text', hint:'DEFAULT', isData:true})
        +input({title: "SUBSCRIPTION TEXT FIELD", type:'email', name:'text', placeholder:'Email', withButton :true})
        +dropdown({title:"Dropdown", hint:"default", name:"guestNumber", placeholder:"Сколько гостей",type:"guest",rows: [
            {count: 0, text: 'взрослые', typeOfCount:'adult'},
            {count: 0, text: 'дети', typeOfCount:'children'},
            {count: 0, text: 'младенцы', typeOfCount:'baby'},
          ]})
        +dateDropdown({title:"Date Dropdown", type:'double',expanded: 'js-calendar_content_expanded', id: 'first'})
        +dateDropdown({title:"Filter date dropdown", type:'single', })
        +dateDropdown({title:"Date Dropdown", type:'double', id: 'second'})



