@import '../../utils/vars';
@import '../../utils/mixins';

.like-button {
  $size: 1.25rem;

  display: inline-block;

  &__button {
    width: 2.5rem;
    height: $size;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.625rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: inherit;

    &:focus,
    &:hover {
      outline: 0.125rem solid $color-purple;
    }
  }

  &__icon {
    position: relative;
    height: $size;
    width: $size;

    &::before {
      top: 0.35rem;
      left: 0.25rem;
      position: absolute;
      content: 'favorite_border';
      color: $color-dark-25;
      font-size: $font-like-button;
    }
  }

  &__count {
    font-size: $font-like-button;
    color: $color-dark-25;
  }

  &_pressed {
    .like-button__button {
      border: 0.0625rem solid $color-purple;
    }

    .like-button__icon {
      &::before {
        top: 0.35rem;
        left: 0.25rem;
        position: absolute;
        content: 'favorite';
        color: $color-purple;
        font-size: $font-like-button;
      }
    }

    .like-button__count {
      &_pressed {
        color: $color-purple;
      }
    }
  }
}
