@import '../../utils/vars';
@import '../../utils/mixins';
@import '../icon/icon';

.like-button {
  display: inline-block;

  &__button {
    $size: 1.25rem;

    position: relative;
    width: 2.5rem;
    height: $size;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.625rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: inherit;

    &:focus,
    &:hover {
      outline: 0.125rem solid $color-purple;
    }
  }

  &__icon {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: $font-like-button;
    color: $color-dark-25;
  }

  &__count {
    position: absolute;
    top: 3px;
    left: 19px;
    font-size: $font-like-button;
    color: $color-dark-25;
  }

  &_pressed {
    .like-button__button {
      border: 0.0625rem solid $color-purple;
    }

    .like-button__icon {
      color: $color-purple;
    }

    .like-button__count {
      &_pressed {
        color: $color-purple;
      }
    }
  }
}
