mixin like-button(options)
  - const {count, isPressed} = options || {}

  - let buttonClass = 'like-button'
  - buttonClass += isPressed ? ' like-button_pressed' : ''

  div(class = buttonClass + ' js-like-button')
    div(class = 'like-button__button', tabindex="0")
      span(class= 'like-button__icon material-icons') 
      span(class = 'like-button__count')= count