include ../icon/icon.pug

mixin like-button(options)
  -
    const { count, isPressed } = options || {};
    let buttonClass = 'like-button';
    buttonClass += isPressed 
      ? ' like-button_pressed js-like-button_pressed' 
      : '';

  div(class=buttonClass + ' js-like-button')
    button.like-button__button(type="button")
      span.like-button__icon
        - const iconName = isPressed ? 'favorite' : 'favorite_border';
        +icon({ icon: iconName })
      span.like-button__count.js-like-button__count= count
