include ../icon/icon.pug

mixin info(options)
  - const { icon, title, subtitle } = options || {};

  .info
    .info__icon 
      +icon({ icon: icon })
    p.info__title= title
    p.info__subtitle= subtitle
