include ../icon/icon.pug

mixin info(options)
  - const { icon, title, subtitle } = options || {};

  .info
    .info__icon 
      +icon({ icon:icon })
    span.info__title= title
    span.info__subtitle= subtitle
