@import '../../utils/vars';
@import '../../utils/mixins';
@import '../info-icon/info-icon';

.info {
  width: 100%;
  max-width: 18.1875rem;
  display: grid;
  grid-template-areas:
    'icon title'
    'icon subtitle';
  grid-template-columns: 3rem auto;
  column-gap: 0.55rem;
  padding-top: 1.4rem;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid $color-dark-10;

  &__title {
    grid-area: title;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    color: $color-dark-75;
    line-height: 1.5rem;
  }

  &__subtitle {
    grid-area: subtitle;
    font-family: Montserrat, Arial, sans-serif;
    color: $color-dark-75;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
