mixin color(options)
  - const {color, title, subtitle } = options || {}

  div.color(class = color)
    div.color__box
    h2.color__title(class = title) #{title}
    div.color__subtitle(class = subtitle) #{subtitle}