@import '../../utils/mixins';
@import '../../utils/vars';

.color {
  font-family: Montserrat, Arial, sans-serif;
  display: grid;
  grid-template-areas:
    'box title'
    'box subtitle';
  grid-column-gap: 2.5rem;
  align-items: center;
  justify-content: start;

  &__box {
    $size: 4.375rem;

    grid-area: box;
    width: $size;
    height: $size;
    border-radius: 0.375rem;
  }

  &__title {
    @include font-hint-1-1875;

    grid-area: title;
    display: flex;
    line-height: 1.8125rem;
    text-transform: none;
    align-self: flex-end;
    width: max-content;
  }

  &__subtitle {
    @include font-hint-1-1875;

    grid-area: subtitle;
    display: flex;
    line-height: 1.8125rem;
    align-self: flex-start;
  }

  &_font100 {
    .color__box {
      background-color: $color-font-100;
    }
  }

  &_font75 {
    .color__box {
      background-color: $color-font-75;
    }
  }

  &_font50 {
    .color__box {
      background-color: $color-font-50;
    }
  }

  &_font25 {
    .color__box {
      background-color: $color-font-25;
    }
  }

  &_font10 {
    .color__box {
      background-color: $color-font-10;
    }
  }

  &_font5 {
    .color__box {
      background-color: $color-font-5;
    }
  }

  &_green {
    .color__box {
      background-color: $color-secondary;
    }
  }

  &_main {
    .color__box {
      background-color: $color-main;
    }
  }
}
