@import '../../utils/vars';
@import '../../utils/mixins';

.expandableCheckboxList {
  width: 100%;
  max-width: 16.625rem;
  position: relative;

  .expandableCheckboxList__header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .expandableCheckboxList__title {
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .expandableCheckboxList__toggle-button {
      position: relative;
      border: none;
      appearance: none;
      user-select: none;
      cursor: pointer;
      height: 1.25rem;
      margin-right: 2.16rem;

      &::before {
        top: 0;
        left: 0;
        position: absolute;
        content: 'expand_more';
        color: $color-dark-50;
        transition: transform 0.2s ease-in-out;
      }

      &_expanded {
        &::before {
          transform: rotate(180deg);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }

  .expandableCheckboxList__list {
    list-style-type: none;
    position: relative;
    display: none;
    z-index: 1;
    background-color: white;

    &_expanded {
      display: block;
    }

    .expandableCheckboxList__item {
      padding-bottom: 0.8rem;
      line-height: 1.125rem;
      font-size: 0.875rem;
      font-family: Montserrat, Arial, sans-serif;
      color: $color-dark-50;

      .expandableCheckboxList__input {
        position: absolute;
        appearance: none;

        .expandableCheckboxList__checkbox {
          position: absolute;
          width: 1.25rem;
          height: 1.25rem;
          border: 0.0625rem solid $color-dark-25;
          border-radius: 0.25rem;
        }

        &:checked + .expandableCheckboxList__checkbox {
          border: 0.0625rem solid $color-purple;
          background: url('./img/Vector.svg') no-repeat center center;
        }

        &:focus + .expandableCheckboxList__checkbox,
        &:hover + .expandableCheckboxList__checkbox {
          box-shadow: 0 0.0313rem 0.3125rem $color-dark-25;
        }
      }

      .expandableCheckboxList__title {
        padding-left: 1.8rem;
      }
    }
  }
}
