@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../utils/font';

.expandableCheckboxList {
  width: 16.625rem;
  position: relative;
  .expandableCheckboxList__header {
    padding: 1rem 0.625rem 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .expandableCheckboxList__title {
      font-family: 'Montserrat', Helvetica, sans-serif;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    .expandableCheckboxList__toggle-button {
      background: url('./img/expand_more_down.svg') no-repeat center center;
      border: none;
      appearance: none;
      user-select: none;
      cursor: pointer;
      height: 20px;
      padding-right: 20px;
      transition: transform 0.2s ease-in-out;
      &_expanded {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
  .expandableCheckboxList__list {
    list-style-type: none;
    position: relative;
    display: none;
    z-index: 1;
    background-color: white;
    &_expanded {
      display: block;
    }

    .expandableCheckboxList__item {
      padding-bottom: 0.625rem;
      line-height: 1.125rem;
      font-size: 0.875rem;
      font-family: 'Montserrat', Helvetica, sans-serif;
      color: $color-dark-50;
      .expandableCheckboxList__input {
        position: absolute;
        appearance: none;
        &:checked + .expandableCheckboxList__checkbox {
          border: 0.0625rem solid $color-purple;
          background: url('./img/Vector.svg') no-repeat center center;
        }
        &:focus + .expandableCheckboxList__checkbox {
          box-shadow: 0 0.03125rem 0.3125rem $color-dark-25;
        }
      }
      .expandableCheckboxList__checkbox {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.0625rem solid $color-dark-25;
        border-radius: 0.25rem;
      }
      .expandableCheckboxList__title {
        padding-left: 2rem;
      }
    }
  }
}
