mixin expandableCheckboxList(options)
  - const {rows =[] } = options || {}
  - var listClass = 'expandableCheckboxList__list'
  - listClass += options.isExpanded ? ' expandableCheckboxList__list_expanded': ''
  - var buttonClass = 'expandableCheckboxList__toggle-button'
  - buttonClass += options.isExpanded ? ' expandableCheckboxList__toggle-button_expanded' : ''

  div.expandableCheckboxList
    div.expandableCheckboxList__header
      span.expandableCheckboxList__title=options.title
      button(class = buttonClass, type='button').material-icons
    ul(class = listClass)
      if options.rows
        each row in rows
          li.expandableCheckboxList__item
            label.expandableCheckboxList__label
              input.expandableCheckboxList__input(type = "checkbox", name = row.name)
              span.expandableCheckboxList__checkbox
              span.expandableCheckboxList__title= row.title