mixin expandableCheckboxList(options)
  - const {rows =[] } = options || {}

  div.expandableCheckboxList
    div.expandableCheckboxList__header
      span.expandableCheckboxList__title=options.title
      button.expandableCheckboxList__toggle-button
    ul.expandableCheckboxList__list
      if options.rows
        each row in rows
          li.expandableCheckboxList__item
            label.expandableCheckboxList__label
              input.expandableCheckboxList__input(type = "checkbox", name = row.name)
              span.expandableCheckboxList__checkbox
              span.expandableCheckboxList__title= row.title