@import '../../../node_modules/air-datepicker/dist/css/datepicker.min.css';
@import '../../utils/vars';
@import '../../utils/mixins';

.date-dropdown {
  position: relative;

  &__group_double {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    column-gap: 1.25rem;
    row-gap: 0.6rem;
  }

  .date-dropdown__title {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

.date-dropdown_double {
  max-width: 20rem;
  width: 100%;

  @include _1200 {
    max-width: none;
  }

  .js-date-dropdown__calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 5;

    &_expanded {
      display: block;
    }
  }

  .disabled {
    position: relative;
  }

  .datepicker {
    .datepicker--nav {
      margin: 0.9rem 0.66rem 1.7rem;
      border: none;

      [data-action='next'] {
        position: relative;

        .arrow_forward {
          color: $color-purple;
        }

        svg {
          display: none;
        }
      }

      [data-action='prev'] {
        .arrow_back {
          color: $color-purple;
        }

        svg {
          display: none;
        }
      }

      .datepicker--nav-title {
        font-size: 1.1875rem;
        font-family: Montserrat, Arial, sans-serif;
        font-weight: bold;
        color: black;

        i {
          color: black;
        }

        &:hover {
          background: none;
        }
      }
    }

    .datepicker--content {
      .datepicker--days-names {
        margin: 0.5rem 1rem 0.8rem 1.05rem;

        .datepicker--day-name {
          color: $color-purple;
          font-size: 0.75rem;
          font-family: Montserrat, Arial, sans-serif;
          font-weight: bold;
        }
      }

      .datepicker--cells-days {
        margin: 0 0 0.25rem 1.05rem;

        .datepicker--cell-day {
          padding: 0 0.5rem;
          color: $color-dark-50;
          height: 2.5rem;
          width: 2.5rem;
          font-size: 0.75rem;
          font-family: Montserrat, Arial, sans-serif;

          &:hover {
            border-radius: 50%;
          }
        }

        .-other-month-,
        .-disabled- {
          color: $color-dark-25;
        }

        .-current- {
          color: white;
          background: $grad-green;
          border-radius: 50%;
          font-weight: bold;
        }

        .-range-from- {
          background: $grad-purple;
          color: white;
          border-radius: 50%;
          font-weight: bold;

          &::after {
            position: absolute;
            background: $grad-purple-25;
            z-index: -1;
            width: 50%;
            content: '';
            right: -0.5;
            height: 100%;
          }
        }

        .-range-to- {
          background: $grad-purple;
          color: white;
          border-radius: 50%;
          font-weight: bold;

          &::before {
            position: absolute;
            background: $grad-purple-25;
            z-index: -1;
            width: 50%;
            content: '';
            left: 0;
            height: 100%;
          }
        }

        .-in-range- {
          background: $grad-purple-25;

          &:hover {
            background: $grad-purple-25;
            border-radius: 0;
            color: white;
          }
        }
      }
    }

    .datepicker--buttons {
      display: flex;
      border: none;
      margin-bottom: 0.35rem;

      .datepicker--button_apply {
        margin-right: 0.7rem;
      }

      .datepicker--button,
      .datepicker--button_apply {
        color: $color-purple;
        font: Montserrat, Arial, sans-serif;
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        align-items: center;
        height: 2rem;
        justify-content: center;
        display: inline-flex;
        flex: 1;

        &:hover {
          background: #f0f0f0;
        }
      }

      [data-action='clear'] {
        margin-right: 6.7rem;

        @include _768 {
          margin-right: 0;
        }
      }
    }
  }

  .datepicker-inline .datepicker {
    border: 0.0625rem solid $color-dark-25;
    width: inherit;
    border-radius: 0.25rem;
    box-shadow: 0 0.625rem 1.25rem $color-dark-5;

    .datepicker--content {
      background: white;
    }
  }
}

.date-dropdown_single {
  max-width: 16.625rem;

  @include _1200 {
    max-width: none;
  }

  .js-date-dropdown__calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 5;

    &_expanded {
      display: block;
    }

    .datepicker {
      .datepicker--nav {
        margin: 1rem 0;
        border: none;

        [data-action='next'] {
          .arrow_forward {
            color: $color-purple;
          }

          svg {
            display: none;
          }
        }

        [data-action='prev'] {
          .arrow_back {
            color: $color-purple;
          }

          svg {
            display: none;
          }
        }

        .datepicker--nav-title {
          font-size: 1.1875rem;
          font-family: Montserrat, Arial, sans-serif;
          font-weight: bold;
          color: black;

          i {
            color: black;
          }

          &:hover {
            background: none;
          }
        }
      }

      .datepicker--content {
        .datepicker--days-names {
          .datepicker--day-name {
            color: $color-purple;
            font-size: 0.75rem;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: bold;
          }
        }

        .datepicker--cells-days {
          .datepicker--cell-day {
            color: $color-dark-50;
            height: 2.3rem;
            width: 2.28rem;
            font-size: 0.75rem;
            font-family: Montserrat, Arial, sans-serif;

            &:hover {
              border-radius: 50%;
            }
          }

          .-other-month-,
          .-disabled- {
            color: $color-dark-25;
          }

          .-current- {
            color: white;
            background: $grad-green;
            border-radius: 50%;
            font-weight: bold;
          }

          .-range-from- {
            background: $grad-purple;
            color: white;
            border-radius: 50%;
            font-weight: bold;

            &::after {
              position: absolute;
              background: $grad-purple-25;
              z-index: -1;
              width: 50%;
              content: '';
              right: -0.5;
              height: 100%;
            }
          }

          .-range-to- {
            background: $grad-purple;
            color: white;
            border-radius: 50%;
            font-weight: bold;

            &::before {
              position: absolute;
              background: $grad-purple-25;
              z-index: -1;
              width: 50%;
              content: '';
              left: 0;
              height: 100%;
            }
          }

          .-in-range- {
            background: $grad-purple-25;

            &:hover {
              background: $grad-purple-25;
              border-radius: 0;
              color: white;
            }
          }
        }
      }

      .datepicker--buttons {
        display: flex;
        border: none;

        .datepicker--button,
        .datepicker--button_apply {
          color: $color-purple;
          font: Montserrat, Arial, sans-serif;
          font-size: 0.75rem;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
          align-items: center;
          height: 32px;
          justify-content: center;
          display: inline-flex;
          flex: 1;

          &:hover {
            background: #f0f0f0;
          }
        }

        [data-action='clear'] {
          margin-right: 5rem;

          @include _768 {
            margin-right: 0;
          }
        }
      }
    }
  }

  .datepicker-inline .datepicker {
    width: inherit;
  }
}
