@import '../../libs/datepicker/datepicker';
@import '../../utils/vars';
@import '../../utils/mixins';

.date-dropdown {
  position: relative;

  &__group_double {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    column-gap: 1.25rem;
    row-gap: 0.6rem;
  }

  .date-dropdown__title {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

.date-dropdown_double {
  max-width: 20rem;
  width: 100%;

  @include _1200 {
    max-width: none;
  }

  .js-date-dropdown__calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 5;

    &_expanded {
      display: block;
    }
  }

  .disabled {
    position: relative;
  }
}

.date-dropdown_single {
  max-width: 16.625rem;

  @include _1200 {
    max-width: none;
  }

  .js-date-dropdown__calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 5;

    &_expanded {
      display: block;
    }
  }
}
