@import '../../libs/datepicker/datepicker';
@import '../../utils/vars';
@import '../../utils/mixins';

.date-dropdown {
  $r: &;

  position: relative;

  &__group_double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 0.6rem;

    @include _400 {
      grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
    }

    &_hidden {
      display: none;
    }
  }

  #{$r}__title {
    @include font-button;
  }

  #{$r}__calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 5;

    &_expanded {
      display: block;
    }
  }

  &_double {
    max-width: 20rem;
    width: 100%;

    #{$r}__calendar_disabled {
      position: relative;
    }
  }

  &_single {
    max-width: 16.625rem;
  }
}
