extends ../../layout/main.pug

include ../../components/logo/logo.pug
include ../../components/header/header.pug


block variables
  - let title = "Headers & Footers"
  - let theme = "body_theme_gray"

block content
  - const bottomClass = 'headersAndFooters__margin-bottom'
  -
   const menuLink = [
    {name: 'О нас', href:'/about', bold:true},
    {name: 'Услуги', href:'/services',
    subMenu:[
      {name: 'Трансфер', href:'/transfer'},
      {name: 'Завтрак', href:'/breakfast'},
      {name: 'Обед', href:'/lunch'},
      {name: 'Ужин', href:'/dinner'},
        ]},
    {name: 'Вакансии', href:'/vacancies'},
    {name: 'Новости', href:'/news'},
    {name: 'Соглашения', href:'/agreements',
      subMenu:[
      {name: 'Договор 1', href:'/contract'},
      {name: 'Договор 2', href:'/contract_2'},
        ]},
    ]
  -
  
  .headersAndFooters
    nav.headersAndFooters__logo
      +logo
  div(class = bottomClass).headersAndFooters__header
    +header({menuLink})
  div(class = bottomClass).headersAndFooters__header_login 
  div(class = bottomClass).headersAndFooters__footer
  div.headersAndFooters__footer_size_small
