@import '../../utils/main.scss';
@import '../../utils/mixins';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

.headersAndFooters {
  &__logo {
    margin: 1.875rem auto 3.9rem auto;
    width: 80%;
  }
  &__margin-bottom {
    margin-bottom: 2.5rem;
  }
  &__footer_size_small {
    padding-bottom: 8.75rem;
  }
}
