@import '../../utils/vars';
@import '../../utils/mixins';
@import '../icon/icon';

.expandable-checkbox-list {
  $r: &;

  width: 100%;
  max-width: 16.625rem;
  position: relative;

  &__label {
    cursor: pointer;
  }

  #{$r}__header {
    margin-bottom: 1.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    #{$r}__title {
      @include font-button;
    }

    #{$r}__toggle-button {
      @include reset-button;

      position: absolute;
      top: -4px;
      right: 11px;
      font-size: $font-copyright-icon;
      color: $color-font-50;
      transition: transform 0.2s ease-in-out;

      &:focus {
        &::before {
          outline: 2px solid $color-font-75;
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    position: relative;
    display: none;
    z-index: 1;
    background-color: white;

    #{$r}__item {
      @include font-hint-875;

      padding-bottom: 0.76rem;
      line-height: 1.125rem;
      color: $color-font-50;

      #{$r}__checkbox {
        $size: 1.25rem;

        position: absolute;
        width: $size;
        height: $size;
        border: 0.0625rem solid $color-font-25;
        border-radius: 0.25rem;
      }

      #{$r}__input {
        position: absolute;
        appearance: none;

        &:checked + #{$r}__checkbox {
          border: 0.0625rem solid $color-main;
          background: url('./img/Vector.svg') no-repeat 50% 38%;
        }

        &:focus + #{$r}__checkbox,
        &:hover + #{$r}__checkbox {
          box-shadow: $checkbox-shadow;
        }
      }

      #{$r}__title {
        padding-left: 1.8rem;
      }
    }
  }

  &_expanded {
    /* stylelint-disable-next-line */
    #{$r}__toggle-button {
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }

    #{$r}__list {
      display: block;
    }
  }
}
