@import '../../utils/main';
@import '../../utils/mixins';

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $color-font-10;
  text-align: center;

  &__title {
    @include font-h1;
  }
}
