extends ../../layout/main.pug

include ../../components/indexMenu/indexMenu


block variables
  - var title = "Меню выбор страниц"

block content
  .error-page
    h1 Данной страницы не существует!!!
