@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../libs/slider/slider';

.range-slider {
  width: 100%;
  max-width: 16.625rem;

  &__header {
    width: inherit;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 0.75rem;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__count {
    display: inline-flex;
    align-items: flex-start;
  }

  &__separator {
    margin: 0 0.25rem 0 0.16rem;
    vertical-align: text-top;
    font-family: Montserrat, Arial, sans-serif;
    margin-top: 0;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  &__input_min {
    width: 3.3rem;
    color: $color-dark-50;
    border: none;
    text-align: end;
    outline: 0;
    font-size: 0.75rem;
    font-family: Montserrat, Arial, sans-serif;
    line-height: 0.9375rem;
  }

  &__input_max {
    width: 3rem;
    color: $color-dark-50;
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-family: Montserrat, Arial, sans-serif;
    line-height: 0.9375rem;
  }

  &__description {
    padding-top: 0.85rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: $color-dark-50;
  }
}
