@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../libs/slider/slider';

.range-slider {
  width: 100%;
  max-width: 16.625rem;

  &__header {
    width: inherit;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__title {
    @include font-button;
  }

  &__count {
    display: inline-flex;
    align-items: flex-start;
  }

  &__separator {
    @include font-hint;

    margin: 0 0.25rem 0 0.16rem;
    vertical-align: text-top;
    margin-top: 0;
    line-height: 0.9375rem;
  }

  &__input-min {
    @include font-hint;

    width: 3.3rem;
    color: $color-dark-50;
    border: none;
    text-align: end;
    outline: 0;
    line-height: 0.9375rem;
  }

  &__input-max {
    @include font-hint;

    width: 3rem;
    color: $color-dark-50;
    border: none;
    outline: none;
    line-height: 0.9375rem;
  }

  &__description {
    @include font-hint;

    padding-top: 0.85rem;
    line-height: 0.875rem;
    color: $color-dark-50;
  }
}
