mixin range-slider (options)
  - const {title, min, max, description} = options || {}

  div.range-slider 
    div.range-slider__header
      span.range-slider__title= title
      span.range-slider__count
        input.range-slider__input_min(type='text', value = min)
        span.range-slider__separator= '-'
        input.range-slider__input_max(type='text', value = max)
    div.range-slider__slider
    if description
      p.range-slider__description= description