@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/input/input';
@import '../../components/dropdown/dropdown';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/expandable-checkbox-list/expandable-checkbox-list';
@import '../../components/checkbox/checkbox';
@import '../../components/radio-button/radio-button';
@import '../../components/toggle/toggle';
@import '../../components/like-button/like-button';
@import '../../components/rate-button/rate-button';
@import '../../components/range-slider/range-slider';
@import '../../components/button/button';
@import '../../components/pagination/pagination';
@import '../../components/rich-checkbox/rich-checkbox';
@import '../../components/bullet-list/bullet-list';
@import '../../components/info/info';
@import '../../components/feedback/feedback';

.form-elements {
  $r: &;

  overflow: hidden;

  &__logo {
    margin: 1.875rem auto 3.6rem;
    width: 80%;
  }

  &__main {
    max-width: 75.5rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }

  &__section {
    display: grid;

    @include _1200 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2.5rem;
    }

    @include _768 {
      grid-template-columns: repeat(1, 1fr);
    }

    #{$r}__section-column_gap {
      @include _1200 {
        display: none;
      }
    }

    &:nth-child(1) {
      grid-template-columns: 27.59% 10.86% 22.45% 11.38% 27.75%;
      margin-bottom: 5.5rem;

      @include _1200 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.5rem;
      }

      @include _992 {
        grid-template-columns: repeat(1, 1fr);
      }

      #{$r}__section-column_start {
        #{$r}__input-default {
          margin-top: 0.3125rem;
          margin-bottom: 1.35rem;
        }

        #{$r}__input-hover {
          margin-bottom: 1rem;
        }

        #{$r}__input-dropdown {
          margin-bottom: 1.5rem;
        }

        #{$r}__input-email {
          margin-bottom: 2.25rem;
        }

        #{$r}__dropdown-double {
          margin-bottom: 2.3rem;
        }

        #{$r}__dropdown-single {
          margin-bottom: 2.65rem;
        }

        #{$r}__input-with-button {
          max-width: 16.625rem;

          @include _1200 {
            max-width: none;
          }
        }
      }

      #{$r}__section-column_central {
        padding-left: 0.1rem;

        #{$r}__checkbox {
          margin-top: 0.5125rem;
          margin-bottom: 1.83rem;
        }

        #{$r}__radio-button {
          margin-bottom: 2.7rem;
        }

        #{$r}__toggle {
          margin-bottom: 2.1rem;
        }

        #{$r}__like-buttons {
          margin-bottom: 2.3rem;

          #{$r}__like-buttons_title {
            @include font-button;

            color: $color-font-100;
            margin-bottom: 1rem;
          }

          #{$r}__like-buttons_items {
            display: flex;
            column-gap: 0.5625rem;
          }
        }

        #{$r}__rate-buttons {
          #{$r}__rate-buttons_title {
            @include font-button;

            color: $color-font-100;
            margin-bottom: 1.1rem;
          }

          #{$r}__rate-buttons-group {
            display: grid;
            grid-template-columns: repeat(auto-fill, 7.5rem);
            column-gap: 1.11rem;
          }
        }
      }

      #{$r}__section-column_end {
        margin-left: 0.1rem;

        #{$r}__range-slider {
          margin-bottom: 2.6rem;
        }

        #{$r}__buttons {
          margin-bottom: 1.5rem;

          #{$r}__buttons-title {
            @include font-button;

            color: $color-font-100;
            margin-bottom: 1.1rem;
          }

          #{$r}__buttons_row_first {
            display: grid;
            grid-template-columns: repeat(auto-fill, 6.1875rem);
            column-gap: 1.25rem;
            margin-bottom: 1.9rem;
          }

          #{$r}__buttons_row_second {
            display: grid;
            grid-template-columns: repeat(auto-fill, 6.1875rem);
            column-gap: 1.25rem;
            margin-bottom: 1.9rem;
          }

          #{$r}__buttons_row_third {
            display: grid;
            grid-template-columns: repeat(auto-fill, 3.8125rem);
            column-gap: 1.3rem;
            margin-bottom: 1.9rem;
          }

          #{$r}__buttons_row_fourth {
            margin-bottom: 2.5rem;
          }
        }

        #{$r}__pagination {
          max-width: 16.625rem;

          #{$r}__pagination-title {
            @include font-button;

            color: $color-font-100;
            margin-bottom: 1.05rem;
          }
        }
      }
    }

    &:nth-child(2) {
      grid-template-columns: 22.93% 15.6% 27.59% 6.35% 27.59%;
      margin-bottom: 10.75rem;

      @include _1200 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.5rem;
      }

      @include _992 {
        grid-template-columns: repeat(1, 1fr);
      }

      #{$r}__section-column_start {
        @include _768 {
          margin-bottom: 5.5rem;
        }

        #{$r}__dropdown-rooms {
          margin-bottom: 0.95rem;
        }
      }

      #{$r}__section-column_central {
        @include _768 {
          margin-bottom: 8rem;
        }
      }

      #{$r}__section-column_end {
        @include _768 {
          margin-bottom: 1rem;
        }
      }
    }

    &:nth-child(3) {
      grid-template-columns: 23.02% 15.52% 22.83% 11% 25.17%;
      margin-bottom: 0.4rem;

      @include _1200 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.5rem;
      }

      @include _992 {
        grid-template-columns: repeat(1, 1fr);
      }

      #{$r}__section-column_start {
        #{$r}__expandable-checkbox {
          margin-bottom: 3.08rem;
        }
      }

      #{$r}__section-column_end {
        margin-left: 0.06rem;
      }
    }

    &:nth-child(4) {
      grid-template-columns: 25.09% 13.45% 61.29%;
      padding-bottom: 8.25rem;

      @include _1200 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.5rem;
      }

      @include _992 {
        grid-template-columns: repeat(1, 1fr);
      }

      #{$r}__section-column_central {
        margin-top: 2rem;
      }
    }
  }
}
