extends ../../layout/main.pug

include ../../components/input/input.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/logo/logo.pug
include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radio-button/radio-button.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/info/info.pug
include ../../components/feedback/feedback.pug

block variables
  - let title = 'Form-elements';

block content
  .form-elements
    nav.form-elements__logo 
      +logo
    .form-elements__main
      .form-elements__section
        .form-elements__section-column_start
          .form-elements__input-default
            //- prettier-ignore
            +input({ 
              title: 'Text Field',
              type: 'email', 
              name: 'email', 
              placeholder: 'Email', 
              hint: 'DEFAULT' 
            })
          .form-elements__input-hover
            //- prettier-ignore
            +input({ 
              title: 'Text Field', 
              type: 'text', 
              name: 'This is pretty awesome', 
              placeholder: 'Enter the text', 
              hint: 'HOVER / FOCUS', 
              value: 'This is pretty awesome' 
            })
          .form-elements__input-dropdown
            //- prettier-ignore 
            +dropdown({ 
              title: 'Dropdown', 
              hint: 'default', 
              name: 'guest-number', 
              placeholder: 'Сколько гостей', 
              type: 'guest',
              rows: [ 
                {
                  count: 0, text: 'взрослые', typeOfCount: 'adult'
                }, 
                {
                  count: 0, text: 'дети', typeOfCount: 'children'
                }, 
                {
                  count: 0, text: 'младенцы', typeOfCount: 'baby'
                }, 
              ]
            })
          .form-elements__input-email
            //- prettier-ignore
            +input({ 
              title: 'MASKED TEXT FIELD',
              type: 'text', 
              name: 'text', 
              isData: true 
            })
          .form-elements__dropdown-double
            //- prettier-ignore
            +date-dropdown({ 
              titleStart: 'Date Dropdown', 
              titleEnd: 'Date Dropdown', 
              type: 'double', 
              isExpanded: false 
            })
          .form-elements__dropdown-single
            //- prettier-ignore
            +date-dropdown({ 
              title: 'Filter date dropdown', 
              type: 'single' 
            })
          .form-elements__input-with-button
            //- prettier-ignore
            +input({ 
              title: 'SUBSCRIPTION TEXT FIELD', 
              type: 'email', 
              name: 'text',
              placeholder: 'Email',
              withButton: true 
            })
        .form-elements__section-column_gap
        .form-elements__section-column_central
          .form-elements__checkbox
            //- prettier-ignore 
            +checkbox({
              header: 'Checkbox Buttons', 
              rows: [ 
                {
                  title: 'Можно курить', name: 'smoke'
                }, 
                {
                  title: 'Можно с питомцами', name: 'pet'
                }, 
                {
                  title: 'Можно пригласить гостей (до 10 человек)', 
                  name: 'more guests'
                } 
              ]
            })
          .form-elements__radio-button
            //- prettier-ignore
            +radio-button({
              header: 'Radio Buttons',
              rows: [ 
                {
                  caption: 'Мужчина'
                },
                {
                  caption: 'Женщина'
                } 
              ]
            })
          .form-elements__toggle
            //- prettier-ignore 
            +toggle({
              header: 'Toggle', 
              rows: [ 
                {
                  caption: 'Получать спецпредложения', name: 'special offers'
                }, 
                {
                  caption: 'Получать спецпредложения', name: 'special offers'
                }, 
              ]
            })
          .form-elements__like-buttons
            .form-elements__like-buttons_title= 'like button'
            .form-elements__like-buttons_items
              +like-button({ count: '2' })
              +like-button({ count: '12', isPressed: true })
          .form-elements__rate-buttons
            .form-elements__rate-buttons_title= 'rate button'
            .form-elements__rate-buttons-group
              +rate-button({ base: 5, rate: 4, name: 'rating', id: 'rating' })
              //- prettier-ignore
              +rate-button({ 
                base: 5, 
                rate: 5, 
                name: 'rating_1', 
                id: 'rating_1' 
              })
        .form-elements__section-column_gap
        .form-elements__section-column_end
          .form-elements__range-slider
            +range-slider({ title: 'Range Slider', min: '0', max: '16000' })
          .form-elements__buttons 
            .form-elements__buttons-title= 'buttons'
            .form-elements__buttons-group
              //- prettier-ignore
              .form-elements__buttons_row_first
                +button({ 
                  theme: 'purple', 
                  textTheme: 'white', 
                  text: 'click me' 
                })
                +button({ 
                  theme: 'purple', 
                  textTheme: 'white', 
                  text: 'click me', 
                  isDisabled: true 
                })
              //- prettier-ignore
              .form-elements__buttons_row_second
                +button({ 
                  theme: 'white', 
                  textTheme: 'purple', 
                  text: 'click me' 
                }) 
                +button({ 
                  theme: 'white', 
                  textTheme: 'purple', 
                  text: 'click me', 
                  isDisabled: true 
                })
              //- prettier-ignore
              .form-elements__buttons_row_third
                +button({ 
                  theme: 'transparent', 
                  textTheme: 'purple', 
                  text: 'click me' 
                })
                +button({ 
                  theme: 'transparent', 
                  textTheme: 'purple',
                  text: 'click me',
                  isTransparentDisabled: true 
                })
              .form-elements__buttons_row_fourth
                //- prettier-ignore
                +button({ 
                  theme: 'purple', 
                  textTheme: 'white', 
                  text: 'Перейти к оплате',
                  isLarge: true, 
                  isArrow: true 
                })
          .form-elements__pagination
            .form-elements__pagination-title= 'pagination'
            .form-elements__pagination-element
              +pagination
      .form-elements__section
        .form-elements__section-column_start
          .form-elements__dropdown-rooms
            //- prettier-ignore 
            +dropdown({ 
              title: 'Dropdown', 
              hint: 'default', 
              name: 'room-number',
              placeholder: 'Количество комнат', 
              isExpanded: false, 
              type: 'rooms',
              rows: [ 
                {
                  count: 2, text: 'спальни', typeOfCount: 'bedroom'
                }, 
                {
                  count: 2, text: 'кровати', typeOfCount: 'bed'
                }, 
                {
                  count: 0, text: 'ванные комнаты', typeOfCount: 'bathroom'
                }
              ]
            })
          .form-elements__dropdown-expanded
            //- prettier-ignore 
            +dropdown({
              title: 'Dropdown', 
              hint: 'expanded', 
              name: 'room-number',
              placeholder: 'Количество комнат', 
              isExpanded: true, 
              type: 'rooms',
              rows: [ 
                {
                  count: 2, text: 'спальни', typeOfCount: 'bedroom'
                }, 
                {
                  count: 2, text: 'кровати', typeOfCount: 'bed'
                }, 
                {
                  count: 0, text: 'ванные комнаты', typeOfCount: 'bathroom'
                }
              ]
            })
        .form-elements__section-column_gap
        .form-elements__section-column_central
          .form-elements__dropdown-guests
            //- prettier-ignore 
            +dropdown({ 
              title: 'Dropdown', 
              name: 'guest-number', 
              placeholder: 'Сколько гостей',
              type: 'guest', 
              isExpanded: true,
              rows: [ 
                {
                  count: 0, text: 'взрослые', typeOfCount: 'adult'
                }, 
                {
                  count: 0, text: 'дети', typeOfCount: 'children'
                }, 
                {
                  count: 0, text: 'младенцы', typeOfCount: 'baby'
                }
              ]
            })
        .form-elements__section-column_gap
        .form-elements__section-column_end
          .form-elements__dropdown-guests_second
            //- prettier-ignore 
            +dropdown({ 
              title: 'Dropdown', 
              name: 'guest-number', 
              placeholder: 'Сколько гостей',
              type: 'guest', 
              isExpanded: true,
              rows: [ 
                {
                  count: 2, text: 'взрослые', typeOfCount: 'adult'
                }, 
                {
                  count: 1, text: 'дети', typeOfCount: 'children'
                }, 
                {
                  count: 0, text: 'младенцы', typeOfCount: 'baby'
                }
              ]
            })
      .form-elements__section
        .form-elements__section-column_start
          .form-elements__expandable-checkbox
            //- prettier-ignore 
            +expandable-checkbox-list({ 
              title: 'expandable checkbox list', 
              isExpanded: false,
              rows: [ 
                {
                  title: "Завтрак", name: 'Breakfast'
                }, 
                {
                  title: 'Письменный стол', name: 'Desk'
                }, 
                {
                  title: 'Стул для кормления', name: 'Feeding chair'
                }, 
                {
                  title: 'Кроватка', name: 'Crib'
                }, 
                {
                  title: 'Телевизор', name: 'TV'
                }, 
                {
                  title: 'Шампунь', name: 'Shampoo'
                }, 
                {
                  title: 'Телевизор', name: 'TV1'
                }, 
                {
                  title: 'Шампунь', name: 'Shampoo1'
                }
              ]
            })
          .form-elements__expandable-checkbox_expanded
            //- prettier-ignore 
            +expandable-checkbox-list({
              title: 'expandable checkbox list', 
              isExpanded: true,
              rows: [ 
                {
                  title: 'Завтрак', name: 'Breakfast'
                }, 
                {
                  title: 'Письменный стол', name: 'Desk'
                }, 
                {
                  title: 'Стул для кормления', name: 'Feeding chair'
                }, 
                {
                  title: 'Кроватка', name: 'Crib'
                }, 
                {
                  title: 'Телевизор', name: 'TV'
                }, 
                {
                  title: 'Шампунь', name: 'Shampoo'
                }, 
                {
                  title: 'Телевизор', name: 'TV1'
                }, 
                {
                  title: 'Шампунь', name: 'Shampoo1'
                }, 
              ]
            })
        .form-elements__section-column_gap
        .form-elements__section-column_central
          .form-elements__rich-checkbox
            //- prettier-ignore 
            +rich-checkbox({ 
              header: 'rich Checkbox Buttons', 
              rows: [ 
                {
                  title: 'Широкий коридор', 
                  name: 'wide corridor', 
                  subtitle: 'Ширина коридоров в номере не менее 91 см.'
                },
                {
                  title: 'Помощник для инвалидов', 
                  name: 'Assistant for the disabled', 
                  subtitle: 'На 1 этаже вас встретит специалист и проводит до номера.'
                }
              ]
            })
        .form-elements__section-column_gap
        .form-elements__section-column_end
          .form-elements__bullet-list
            //- prettier-ignore 
            +bullet-list({
              header: 'Bullet List', 
              rows: [ 
                {
                  text: 'Нельзя с питомцами'
                }, 
                {
                  text: 'Без вечеринок и мероприятий'
                }, 
                {
                  text: 'Время прибытия — после 13:00, а выезд до 12:00'
                }, 
              ]
            })
      .form-elements__section
        .form-elements__section-column_start
          //- prettier-ignore
          .form-elements__info
            +info({
              title: 'Комфорт', 
              subtitle: 'Шумопоглощающие стены', 
              icon: 'insert_emoticon' 
            })
            +info({ 
              title: 'Удобство',
              subtitle: 'Окно в каждой из спален', 
              icon: 'location_city' 
            })
        .form-elements__section-column_gap
        .form-elements__section-column_central
          .form-elements__feedback
            //- prettier-ignore 
            +feedback({ 
              src: require('../../assets/img/murad.png').default, 
              name: 'Мурад Сарафанов', 
              date: '5 дней назад', 
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' 
            })
