@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/input/input';
@import '../../components/dropdown/dropdown';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/expandable-checkbox-list/expandable-checkbox-list';
@import '../../components/checkbox/checkbox';
@import '../../components/radio-button/radio-button';
@import '../../components/toggle/toggle';
@import '../../components/like-button/like-button';
@import '../../components/rate-button/rate-button';
@import '../../components/range-slider/range-slider';
@import '../../components/button/button';
@import '../../components/pagination/pagination';
@import '../../components/rich-checkbox/rich-checkbox';
@import '../../components/bullet-list/bullet-list';
@import '../../components/info/info';
@import '../../components/feedback/feedback';

.form-elements {
  overflow: hidden;

  &__logo {
    margin: 1.875rem auto 4.1rem;
    width: 80%;
  }

  &__main {
    max-width: 75.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  &__section {
    display: grid;

    @include _1200 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2.5rem;
    }

    @include _768 {
      grid-template-columns: repeat(1, 1fr);
    }

    .form-elements__section-column-gap {
      @include _1200 {
        display: none;
      }
    }

    &:nth-child(1) {
      grid-template-columns: 27.59% 10.86% 22.45% 11.38% 27.75%;
      margin-bottom: 5.8rem;

      .form-elements__section-column-start {
        .form-elements__input-default {
          margin-bottom: 1.3rem;
        }

        .form-elements__input-hover {
          margin-bottom: 1.3rem;
        }

        .form-elements__input-dropdown {
          margin-bottom: 1.4rem;
        }

        .form-elements__input-email {
          margin-bottom: 2.6rem;
        }

        .form-elements__dropdown-double {
          margin-bottom: 2.6rem;
        }

        .form-elements__dropdown-single {
          margin-bottom: 2.6rem;
        }

        .form-elements__input-with-button {
          max-width: 16.625rem;

          @include _1200 {
            max-width: none;
          }
        }
      }

      .form-elements__section-column-central {
        padding-left: 0.1rem;

        .form-elements__checkbox {
          margin-top: 0.2rem;
          margin-bottom: 1.9rem;
        }

        .form-elements__radio-button {
          margin-bottom: 2.75rem;
        }

        .form-elements__toggle {
          margin-bottom: 2.1rem;
        }

        .form-elements__like-buttons {
          margin-bottom: 2.3rem;

          .form-elements__like-buttons_title {
            font-family: Montserrat, Arial, sans-serif;
            font-size: 0.75rem;
            color: $color-dark-100;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }

          .like-button {
            margin-right: 0.4rem;
          }
        }

        .form-elements__rate-buttons {
          .form-elements__rate-buttons_title {
            font-family: Montserrat, Arial, sans-serif;
            font-size: 0.75rem;
            color: $color-dark-100;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1.1rem;
          }

          .form-elements__rate-buttons-group {
            display: grid;
            grid-template-columns: repeat(auto-fill, 7.5rem);
            column-gap: 1.11rem;
          }
        }
      }

      .form-elements__section-column-end {
        margin-left: 0.15rem;

        .form-elements__range-slider {
          margin-bottom: 2.6rem;
        }

        .form-elements__buttons {
          margin-bottom: 1.5rem;

          .form-elements__buttons-title {
            font-family: Montserrat, Arial, sans-serif;
            font-size: 0.75rem;
            color: $color-dark-100;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1.1rem;
          }

          .form-elements__buttons_row_first {
            display: grid;
            grid-template-columns: repeat(auto-fill, 6.1875rem);
            column-gap: 1.25rem;
            margin-bottom: 1.9rem;

            .button_theme_purple {
              .button__text {
                letter-spacing: -0.5px;
              }
            }
          }

          .form-elements__buttons_row_second {
            display: grid;
            grid-template-columns: repeat(auto-fill, 6.1875rem);
            column-gap: 1.25rem;
            margin-bottom: 1.9rem;

            .button_theme_white {
              .button__text {
                letter-spacing: -0.5px;
              }
            }
          }

          .form-elements__buttons_row_third {
            display: grid;
            grid-template-columns: repeat(auto-fill, 3.8125rem);
            column-gap: 1.3rem;
            margin-bottom: 1.9rem;
          }

          .form-elements__buttons_row_fourth {
            margin-bottom: 2.5rem;
          }
        }

        .form-elements__pagination {
          max-width: 16.625rem;

          .form-elements__pagination-title {
            font-family: Montserrat, Arial, sans-serif;
            font-size: 0.75rem;
            color: $color-dark-100;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1.2rem;
          }
        }
      }
    }

    &:nth-child(2) {
      grid-template-columns: 22.93% 15.6% 27.59% 6.2% 27.59%;
      margin-bottom: 10.7rem;

      .form-elements__section-column-start {
        @include _768 {
          margin-bottom: 5.5rem;
        }

        .form-elements__dropdown-rooms {
          margin-bottom: 1.3rem;
        }
      }

      .form-elements__section-column-central {
        @include _768 {
          margin-bottom: 8rem;
        }
      }

      .form-elements__section-column-end {
        @include _768 {
          margin-bottom: 1rem;
        }
      }
    }

    &:nth-child(3) {
      grid-template-columns: 23.02% 15.52% 22.93% 10.86% 25.17%;
      margin-bottom: 0.7rem;

      .form-elements__section-column-start {
        .form-elements__expandable-checkbox {
          margin-bottom: 2.8rem;
        }
      }

      .form-elements__section-column-central {
        margin-top: 0.1rem;

        .form-elements__rich-checkbox {
          .richCheckbox__item:first-child {
            padding-right: 2rem;
          }

          .richCheckbox__item:nth-child(2) {
            padding-right: 0.5rem;
          }
        }
      }

      .form-elements__section-column-end {
        margin-top: 0.12rem;
        margin-left: 0.06rem;

        .form-elements__bullet-list {
          .bulletList__list {
            padding-right: 1.8rem;
          }
        }
      }
    }

    &:nth-child(4) {
      grid-template-columns: 25.09% 13.45% 61.29%;
      padding-bottom: 8.25rem;

      @include _1200 {
        grid-template-columns: auto auto;
      }

      .form-elements__section-column-central {
        margin-top: 1.73rem;
      }
    }
  }
}
