// Screen sizes
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-filter-xs-max: 893px;
$screen-filter-sm-min: 894px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// colors
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

$color_dark: #1f2041;
$color_dark75: tint($color_dark, 25%);
$color_dark50: tint($color_dark, 50%);
$color_dark25: tint($color_dark, 75%);
$color_dark10: tint($color_dark, 90%);
$color_dark5: tint($color_dark, 95%);
$color_green: #6fcf97;
$color_green2: #66d2ea;
$color_green_gradient: linear-gradient(
  0deg,
  $color_green2 0%,
  $color_green 100%
);
$color_purple: #bc9cff;
$color_purple2: #8ba4f9;
$color_purple_gradient: linear-gradient(
  0deg,
  $color_purple2 0%,
  $color_purple 100%
);
