@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/footer/footer';
@import '../../components/image-slider/image-slider';
@import '../../components/registration-form/registration-form';
@import '../../components/header/header';

.registration {
  &__slider {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  &__form-element {
    padding: 1.3125rem 0 1.0625rem 0.375rem;
    margin: 0 auto;
    max-width: 24.15rem;
  }
}
