@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/footer/footer';
@import '../../components/imageSlider/imageSlider';
@import '../../components/registrationForm/registrationForm';
@import '../../components/header/header';

.registration {
  &__slider {
    position: absolute;
    z-index: -1;
    width: 100%;

    .imageSlider__img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 43.75rem;

      @include _480 {
        height: 46.875rem;
      }
    }

    .imageSlider__dotWrapper {
      display: none;
    }
  }

  &__form {
    padding: 1.1875rem 0;
    margin: 0 auto;
    max-width: 23.75rem;

    .button_theme_white {
      padding: 0 1.6em 0 1.6rem;
    }
  }
}
