extends ../../layout/pages.pug

include ../../components/image-slider/image-slider.pug
include ../../components/registration-form/registration-form.pug

block main
  .registration
    .registration__slider
      //- prettier-ignore 
      +image-slider({ 
        isInterval: true, 
        isRegistrationPage: true,
        rows: [
          {
            src: require('../../assets/img/rooms/for-registration-or-sign-in/room-1-for-registration-or-sign-in.jpg').default,
            alt: '1 фото номера'
          },
          {
            src: require('../../assets/img/rooms/for-registration-or-sign-in/room-2-for-registration-or-sign-in.jpg').default,
            alt: '2 фото номера'
          },
        ]
      })
    .registration__form-element
      +registration-form
