extends ../../layout/pages.pug

include ../../components/image-slider/image-slider.pug
include ../../components/registration-form/registration-form.pug

block variables
  - pageClass = 'registration';

block main
  .registration__slider
    //- prettier-ignore 
    +image-slider({ 
      isInterval: true, 
      isRegistrationPage: true,
      rows: [
        {
          src: require('./img/registration_1.png').default, alt: '1'
        },
        {
          src: require('./img/registration_2.png').default, alt: '2'
        },
      ]
    })
  .registration__form-element
    +registration-form
