@import '../../utils/vars';
@import '../../utils/mixins';

.rich-checkbox {
  width: 100%;
  max-width: 16.625rem;

  &__header {
    @include font-button;

    margin-bottom: 1.15rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding-bottom: 0.525rem;
  }

  &__label {
    cursor: pointer;
    display: grid;
    column-gap: 0.625rem;
    row-gap: 0.3125rem;
    grid-template-areas:
      'input title'
      'space subtitle';
  }

  &__checkbox {
    $size: 1.25rem;

    grid-area: input;
    height: $size;
    width: $size;
    align-self: center;
    justify-self: center;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.25rem;
  }

  &__input {
    grid-area: input;
    align-self: center;
    justify-self: center;
    appearance: none;

    &:checked + .rich-checkbox__checkbox {
      border: 0.0625rem solid $color-purple;
      background: url('./img/Vector.svg') no-repeat 50% 38%;
    }

    &:focus + .rich-checkbox__checkbox,
    &:hover + .rich-checkbox__checkbox {
      box-shadow: $checkbox-shadow;
    }
  }

  &__title {
    @include font-hint-875;

    grid-area: title;
    line-height: 1.125rem;
    color: $color-dark-75;
    font-weight: bold;
  }

  &__subtitle {
    @include font-hint;

    grid-area: subtitle;
    line-height: 0.875rem;
    color: $color-dark-50;
  }
}
