@import '../../utils/vars';
@import '../../utils/mixins';

.rich-checkbox {
  width: 100%;
  max-width: 16.625rem;

  &__header {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding-bottom: 0.625rem;
  }

  &__label {
    cursor: pointer;
    display: grid;
    column-gap: 0.625rem;
    row-gap: 0.3125rem;
    grid-template-areas:
      'input title'
      'space subtitle';
  }

  &__checkbox {
    grid-area: input;
    height: 1.25rem;
    width: 1.25rem;
    align-self: center;
    justify-self: center;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.25rem;
  }

  &__input {
    grid-area: input;
    align-self: center;
    justify-self: center;
    appearance: none;

    &:checked + .rich-checkbox__checkbox {
      border: 0.0625rem solid $color-purple;
      background: url('./img/Vector.svg') no-repeat 50% 50%;
    }

    &:focus + .rich-checkbox__checkbox,
    &:hover + .rich-checkbox__checkbox {
      box-shadow: 0 0.125rem 0.3125rem $color-dark-25;
    }
  }

  &__title {
    grid-area: title;
    line-height: 1.125rem;
    font-size: 0.875rem;
    font-family: Montserrat, Arial, sans-serif;
    color: $color-dark-75;
    font-weight: bold;
  }

  &__subtitle {
    grid-area: subtitle;
    line-height: 0.875rem;
    font-size: 0.75rem;
    font-family: Montserrat, Arial, sans-serif;
    color: $color-dark-50;
  }
}
