mixin rich-checkbox(options)
  - const { header, rows = [] } = options || {};

  .rich-checkbox
    h3.rich-checkbox__header= header
    ul.rich-checkbox__list
      each row in rows
        - const { name, title, subtitle } = row;
        li.rich-checkbox__item
          label.rich-checkbox__label 
            input.rich-checkbox__input(type="checkbox", name=name)
            span.rich-checkbox__checkbox
            span.rich-checkbox__title= title
            span.rich-checkbox__subtitle= subtitle
