mixin color(options)
  -

  .colors
    div.color(class = options.color)
      div.color-block
      h2.color-title(class = options.title) #{options.title}
      div.color-subtitle(class = options.subtitle) #{options.subtitle}