include ./components/colors.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Учимся работать с шаблонизатором Pug"
  body
      main
        section.colorsAndTypes
          +color({title: "Dark Shade 100%", color: 'color_dark100', subtitle:'#1F2041',})
          +color({title: "Dark Shade 75%", color: 'color_dark75', subtitle:'#1F2041'})
          +color({title: "Dark Shade 100%", color: 'color_dark100', subtitle:'#1F2041'})
          +color({title: "Dark Shade 100%", color: 'color_dark100', subtitle:'#1F2041'})
          +color({title: "Dark Shade 100%", color: 'color_dark100', subtitle:'#1F2041'})
          +color({title: "Dark Shade 100%", color: 'color_dark100', subtitle:'#1F2041'})

  
          