extends ../../layout/main.pug

include ../../components/indexMenu/indexMenu


block variables
  - var title = "Меню выбор страниц"

block content
  +indexMenu({
    theme: 'purple',
    items: [
      {text: 'Colors & Type', href: 'colorsAndTypes.html'},
      {text: 'Form elements', href: 'formElements.html'},
      {text: 'Cards', href: 'cards.html'},
      {text: 'Headers & Footers', href: 'headersAndFooters.html'},
    ],
  })
  +indexMenu({
    theme: 'green',
    items: [
      {text: 'Landing page', href: 'landingPage.html'},
      {text: 'Search room', href: 'searchRoom.html'},
      {text: 'Room details', href: 'roomDetails.html'},
      {text: 'Registration', href: 'registration.html'},
      {text: 'Sign in', href: 'sign-in-page.html'},
    ],
  })
