mixin radioButton(options)
  - const {header, rows =[] } = options || {}

  div.radioButton
    if header 
      div.radioButton__header= header 
    div.radioButton__group
      each row in rows
        .radioButton__item 
          label.radioButton__label
            input.radioButton__input(type="radio", name= 'gender')
            span.radioButton__radio 
            span.radioButton__caption= row.caption