@import '../../utils/font.scss';
@import '../../utils/vars.scss';

.color {
  font-family: Montserrat, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: 'block title' 'block subtitle';
  grid-column-gap: 40px;
  align-items: center;
  justify-content: start;
  .color-block {
    grid-area: block;
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  .color-title {
    grid-area: title;
    display: flex;
    line-height: 29px;
    font-size: 19px;
    text-transform: none;
    align-self: flex-end;
    width: max-content;
  }
  .color-subtitle {
    grid-area: subtitle;
    display: flex;
    line-height: 29px;
    font-size: 19px;
    align-self: flex-start;
    letter-spacing: -1px;
  }

  &_dark100 {
    .color-block {
      background-color: $color-dark-100;
    }
  }
  &_dark75 {
    .color-block {
      background-color: $color-dark-75;
    }
  }
  &_dark50 {
    .color-block {
      background-color: $color-dark-50;
    }
  }
  &_dark25 {
    .color-block {
      background-color: $color-dark-25;
    }
  }
  &_dark10 {
    .color-block {
      background-color: $color-dark-10;
    }
  }
  &_dark5 {
    .color-block {
      background-color: $color-dark-5;
    }
  }
  &_green {
    .color-block {
      background-color: $color-green;
    }
  }
  &_purple {
    .color-block {
      background-color: $color-purple;
    }
  }
}
