mixin color(options)
  -
    const {color, title, subtitle } = options || {}

  div.color(class = color)
    div.color-block
    h2.color-title(class = title) #{title}
    div.color-subtitle(class = subtitle) #{subtitle}