@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/footer/footer';
@import '../../components/image-slider/image-slider';
@import '../../components/login-form/login-form';
@import '../../components/header/header';
@import '../../layout/pages';

.sign-in {
  &__slider {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  &__form {
    padding: 10.125rem 0;
    margin: 0 auto;
    max-width: 23.75rem;

    @include _480 {
      padding: 10.125rem 0.5rem;
    }
  }
}
