extends ../../layout/pages.pug

include ../../components/image-slider/image-slider.pug
include ../../components/login-form/login-form.pug

block variables
  - let pageClass = 'sign-in';

block main
  .sign-in__slider
    //- prettier-ignore
    +image-slider({ isInterval:true, isSignInPage:true, rows:[
        {
          src: require('../registration/img/registration_1.png').default, alt: '1'
        },
        {
          src: require('../registration/img/registration_2.png').default, alt: '2'
        },
      ]
    })
  .sign-in__form 
    +login-form
