mixin bulletList(options)
  - const {header, rows = []} = options || {}

  div.bulletList
    if header 
      div.bulletList__header= header 
    ul.bulletList__list 
      each row in rows 
        li.bulletList__item
          span.bulletList__icon 
          span.bulletList__text= row.text