mixin bulletList(options)
  - const {rows = []} = options || {}

  div.bulletList 
    div.bulletList__header= options.header 
    ul.bulletList__list 
      each row in rows 
        li.bulletList__item
          span.bulletList__icon 
          span.bulletList__text= row.text