@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/image-slider/image-slider';
@import '../../components/rate-button/rate-button';

.room-sketch {
  background: white;
  box-shadow: $header-shadow;
  border-radius: 0.25rem;

  &__slider {
    max-height: 9.4375rem;
    border-radius: 0.25rem;
  }

  &__main {
    padding: 1.1rem 1.0625rem 0.89rem 1.25rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid $color-font-10;
    padding-top: 0.08rem;
    margin-top: 1px;
    column-gap: 10px;
  }

  &__number {
    display: flex;
    align-items: baseline;
  }

  &__number-symbol {
    @include font-hint-875;

    font-weight: bold;
    color: $color-font-100;
  }

  &__number-value {
    @include font-hint-1-1875;

    margin-left: 0.25rem;
    margin-right: 0.6rem;
    font-weight: bold;
    color: $color-font-100;
  }

  &__number-feature {
    @include font-button;

    color: $color-main;
  }

  &__price-per-day {
    margin-top: 0.3rem;
  }

  &__cost {
    @include font-hint-875;

    color: $color-font-50;
    margin-right: 0.25rem;
    font-weight: bold;
  }

  &__date-unit {
    @include font-hint;

    color: $color-font-50;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.475rem;
    column-gap: 10px;
  }

  &__feedback-number {
    @include font-hint-875;

    font-weight: bold;
    color: $color-font-50;
    margin-right: 0.35rem;
  }

  &__feedback-text {
    @include font-hint-875;

    color: $color-font-50;
    margin-right: 0.1rem;
  }

  &__feedback-counter {
    padding-top: 0.125rem;
  }

  &__link {
    appearance: none;
    text-decoration: none;
  }
}
