@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/footer/footer';
@import '../../components/header/header';

.headers-and-footers {
  background: $gray-background;
  overflow: hidden;

  &__logo {
    margin: 1.875rem auto 3.6rem;
    max-width: 89.0625rem;
    padding: 0 1.5rem;
  }

  &__margin-bottom {
    margin-bottom: 2.55rem;
  }

  &__footer_size_small {
    padding-bottom: 8.75rem;
  }
}
