extends ../../layout/main.pug

include ../../components/logo/logo.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables
  - title = 'Headers & Footers';

block content
  - const bottomClass = 'headers-and-footers__margin-bottom';
  - const auth = { name: 'Юлий', surname: 'Цезарь' };

  .headers-and-footers
    nav.headers-and-footers__logo
      +logo
    .headers-and-footers__header(class=bottomClass)
      +header({ menuLink })
    .headers-and-footers__header_login(class=bottomClass)
      +header({ menuLink, auth })
    .headers-and-footers__footer(class=bottomClass)
      +footer
    .headers-and-footers__footer.headers-and-footers__footer_size_small
      +footer({ isSmall: true })
