@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/button/button';
@import '../../components/input/input';
@import '../../components/radio-button/radio-button';
@import '../../components/toggle/toggle';

.registration-form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: $form-shadow;
  padding: $form-padding;
  border-radius: 0.25rem;

  &__header {
    padding-bottom: 0.82rem;
  }

  &__name {
    margin-bottom: 0.6rem;
  }

  &__surname {
    margin-bottom: 0.65rem;
  }

  &__gender {
    margin-bottom: 1.8rem;
  }

  &__birth-date {
    margin-bottom: 1.25rem;
  }

  &__email {
    margin-bottom: 0.7rem;
  }

  &__toggle {
    margin-bottom: 0.8rem;
  }

  &__button {
    margin-bottom: 1.9rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hint {
    @include font-hint-875;

    line-height: 1.125rem;
    padding-bottom: 0.2rem;
    color: #000;
  }
}
