@import '../../components/dateDropdown/datepicker_styles/datepicker_styles.css';
@import '../../utils/vars';
@import '../../utils/mixins';

.dateDropdown {
  position: relative;
  &__group_double {
    display: grid;
    grid-template-columns: 9.375rem 9.375rem;
    column-gap: 1.25rem;
  }
}
.dateDropdown_double {
  .js-calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1;
    display: none;
    &_expanded {
      display: block;
    }
  }
  .datepicker-inline .datepicker {
    min-width: 20rem;
  }
  .datepicker--content {
    background: white;
  }
}
.dateDropdown_single {
  .js-calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1;
    display: none;
    &_expanded {
      display: block;
    }
  }
}
