include ../dropdown/dropdown.pug

mixin dateDropdown(options)
  -

  div.dateDropdown(class= 'dateDropdown_' + options.type)
    if (options.type === 'double')
      div.dateDropdown__group_double
        div.dateDropdown__item 
          span.dateDropdown__title= options.title
          div.dateDropdown_dropdownBox
            +dropdown({name:"field-date-from", placeholder:"ДД.ММ.ГГГГ", type: "date"})
        div.dateDropdown__item 
          span.dateDropdown__title= options.title
          div.dateDropdown_dropdownBox
            +dropdown({name:"field-date-from", placeholder:"ДД.ММ.ГГГГ", type: "date"})
    if (options.type === "single")
      div.dateDropdown__group_single
        div.dateDropdown__item
          span.dateDropdown__title= options.title
          div.dateDropdown__box
            +dropdown({name:"field-date-from", placeholder:"ДД.ММ.ГГГГ", type: "date"})