@import '../../components/dateDropdown/datepicker_styles/datepicker_styles.css';
@import '../../utils/vars';
@import '../../utils/mixins';

.dateDropdown {
  position: relative;
  &__group_double {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    column-gap: 1.25rem;
    row-gap: 0.6rem;
  }
  .dateDropdown__title {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
.dateDropdown_double {
  max-width: 20rem;
  width: 100%;
  @include _1200 {
    max-width: none;
  }
  .js-calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1;
    display: none;
    &_expanded {
      display: block;
    }
  }
  .disabled {
    position: relative;
  }
  .datepicker-inline .datepicker {
    border: 0.0625rem solid $color-dark-25;
    width: 19.85rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.625rem 1.25rem $color-dark-5;
    .datepicker--content {
      background: white;
    }
  }
  .datepicker {
    .datepicker--nav {
      margin: 0.9rem 0.66rem 1.7rem 0.66rem;
      border: none;
      [data-action='next'] {
        background: url('./img/arrow-forward.svg') no-repeat center center;
        svg {
          display: none;
        }
      }
      [data-action='prev'] {
        background: url('./img/arrow_back.svg') no-repeat center center;
        svg {
          display: none;
        }
      }
      .datepicker--nav-title {
        //width: 14rem;
        font-size: 1.1875rem;
        font-family: 'Montserrat', Helvetica, sans-serif;
        font-weight: bold;
        color: black;
        i {
          color: black;
        }
        &:hover {
          background: none;
        }
      }
    }
    .datepicker--content {
      .datepicker--days-names {
        margin: 0.5rem 1rem 0.8rem 1.05rem;
        .datepicker--day-name {
          color: $color-purple;
          font-size: 0.75rem;
          font-family: 'Montserrat', Helvetica, sans-serif;
          font-weight: bold;
        }
      }
      .datepicker--cells-days {
        margin: 0rem 0rem 0.25rem 1.05rem;
        .datepicker--cell-day {
          padding: 0 0.5rem;
          color: $color-dark-50;
          height: 2.5rem;
          width: 2.5rem;
          font-size: 0.75rem;
          font-family: 'Montserrat', Helvetica, sans-serif;
          &:hover {
            border-radius: 50%;
          }
        }
        .-other-month-,
        .-disabled- {
          color: $color-dark-25;
        }
        .-current- {
          color: white;
          background: $grad-green;
          border-radius: 50%;
          font-weight: bold;
        }
        /* .-selected- {
          background: $grad-purple;
          color: white;
          border-radius: 50%;
          font-weight: bold;
        } */
        .-range-from- {
          background: $grad-purple;
          color: white;
          border-radius: 50%;
          font-weight: bold;
          &::after {
            position: absolute;
            background: $grad-purple-25;
            z-index: -1;
            width: 50%;
            content: '';
            right: -0.5;
            height: 100%;
          }
        }
        .-range-to- {
          background: $grad-purple;
          color: white;
          border-radius: 50%;
          font-weight: bold;
          &::before {
            position: absolute;
            background: $grad-purple-25;
            z-index: -1;
            width: 50%;
            content: '';
            left: 0;
            height: 100%;
          }
        }

        .-in-range- {
          background: $grad-purple-25;
          &:hover {
            background: $grad-purple-25;
            border-radius: 0;
            color: white;
          }
        }
      }
    }
    .datepicker--buttons {
      display: flex;
      border: none;
      margin-bottom: 0.35rem;
      .datepicker--button,
      .datepicker--button_apply {
        color: $color-purple;
        font-size: 0.75rem;
        font: 'Montserrat', Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        align-items: center;
        height: 2rem;
        justify-content: center;
        display: inline-flex;
        flex: 1;
        //font-stretch: 150%;
        //letter-spacing: 1px;
        &:hover {
          background: #f0f0f0;
        }
      }
      .datepicker--button_apply {
        margin-right: 0.7rem;
      }
      [data-action='clear'] {
        margin-right: 6.7rem;
      }
    }
  }
}
.dateDropdown_single {
  max-width: 16.625rem;
  @include _1200 {
    max-width: none;
  }
  .js-calendar_content {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1;
    display: none;
    &_expanded {
      display: block;
    }
    .datepicker {
      .datepicker--nav {
        margin: 1rem 0;
        border: none;
        [data-action='next'] {
          background: url('./img/arrow-forward.svg') no-repeat center center;
          svg {
            display: none;
          }
        }
        [data-action='prev'] {
          background: url('./img/arrow_back.svg') no-repeat center center;
          svg {
            display: none;
          }
        }
        .datepicker--nav-title {
          //width: 14rem;
          font-size: 1.1875rem;
          font-family: 'Montserrat', Helvetica, sans-serif;
          font-weight: bold;
          color: black;
          i {
            color: black;
          }
          &:hover {
            background: none;
          }
        }
      }
      .datepicker--content {
        .datepicker--days-names {
          .datepicker--day-name {
            color: $color-purple;
            font-size: 0.75rem;
            font-family: 'Montserrat', Helvetica, sans-serif;
            font-weight: bold;
          }
        }
        .datepicker--cells-days {
          .datepicker--cell-day {
            //padding: 0 0.1rem;
            color: $color-dark-50;
            height: 2.3rem;
            width: 2.3rem;
            font-size: 0.75rem;
            font-family: 'Montserrat', Helvetica, sans-serif;
            &:hover {
              border-radius: 50%;
            }
          }
          .-other-month-,
          .-disabled- {
            color: $color-dark-25;
          }
          .-current- {
            color: white;
            background: $grad-green;
            border-radius: 50%;
            font-weight: bold;
          }
          .-range-from- {
            background: $grad-purple;
            color: white;
            border-radius: 50%;
            font-weight: bold;
            &::after {
              position: absolute;
              background: $grad-purple-25;
              z-index: -1;
              width: 50%;
              content: '';
              right: -0.5;
              height: 100%;
            }
          }
          .-range-to- {
            background: $grad-purple;
            color: white;
            border-radius: 50%;
            font-weight: bold;
            &::before {
              position: absolute;
              background: $grad-purple-25;
              z-index: -1;
              width: 50%;
              content: '';
              left: 0;
              height: 100%;
            }
          }

          .-in-range- {
            background: $grad-purple-25;
            &:hover {
              background: $grad-purple-25;
              border-radius: 0;
              color: white;
            }
          }
        }
      }
      .datepicker--buttons {
        display: flex;
        border: none;
        .datepicker--button,
        .datepicker--button_apply {
          color: $color-purple;
          font-size: 0.75rem;
          font: 'Montserrat', Helvetica, sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
          align-items: center;
          height: 32px;
          justify-content: center;
          display: inline-flex;
          flex: 1;
          &:hover {
            background: #f0f0f0;
          }
        }
        [data-action='clear'] {
          margin-right: 80px;
        }
      }
    }
  }
  .datepicker-inline .datepicker {
    min-width: 16.625rem;
  }
}
