@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/button/button';

.header {
  background: white;
  position: relative;
  padding: 0.8375rem 0;
  box-shadow: $header-shadow;

  &__container {
    max-width: 75.5rem;
    margin: 0 auto;
    padding: $header-padding;
  }

  &__link-li {
    list-style: none;
  }

  &__navigation {
    display: grid;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    grid-template-areas: 'logo menuGroup';

    @include _992 {
      grid-template-areas:
        'logo logo'
        'menuGroup menuGroup';
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__menu-group {
    display: grid;
    grid-auto-flow: column;
    grid-area: menuGroup;

    @include _992 {
      display: none;
      grid-auto-flow: inherit;
      justify-content: center;
      width: 100%;
    }

    &_expanded {
      display: grid;

      @include _992 {
        display: grid;
      }
    }
  }

  &__menu {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.3rem;
    align-items: center;
    padding-right: 1.2rem;

    @include _992 {
      margin: 0 auto;
      display: block;
      margin-bottom: 1rem;
      padding-right: 0;
      border-bottom: 0.0625rem solid $color-font-10;
    }
  }

  &__link {
    @include font-hint-875;

    color: $color-font-50;
    line-height: 1.0625rem;
    text-decoration: none;

    &:hover {
      color: $color-main;
    }

    @include _992 {
      text-align: start;
      display: block;
      line-height: 2rem;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 1.5625rem;
    background: white;
    z-index: 5;
    border: 0.0625rem solid $color-font-10;
    box-shadow: $header-shadow;
  }

  &__sub-menu-icon {
    cursor: pointer;
    color: $color-font-50;
    user-select: none;
    transition: transform 0.25s ease;
    font-size: $font-copyright-icon;
    height: 22px;

    &:hover {
      color: $color-main;
    }
  }

  &__sub-menu {
    position: relative;
    display: grid;
    grid-template-columns: max-content min-content;
    align-items: center;

    &_expanded {
      .header__dropdown {
        display: flex;
      }

      .header__sub-menu-icon {
        transform: rotate(180deg);
        transition: transform 0.25s ease;
      }
    }

    @include _992 {
      justify-content: start;
    }
  }

  &__sub-link {
    padding: 0.5rem 1rem;
    line-height: 2rem;
    border-bottom: 0.0625rem solid $color-font-10;

    &:hover {
      color: $color-main;
    }
  }

  &_bold {
    font-weight: bold;
  }

  &__burger {
    font-size: $font-icon;
    display: none;
    position: absolute;
    right: 2%;
    top: 0.625rem;
    appearance: none;
    background: transparent;
    border: none;
    color: $color-font-50;
    user-select: none;

    &:hover {
      color: $color-main;
    }

    @include _992 {
      display: block;
    }
  }

  &__user-menu {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.25rem;
    align-items: center;

    @include _992 {
      display: flex;
      flex-direction: column;
      row-gap: 0.625rem;
    }
  }

  &__user-menu_auth {
    padding-left: 1.25rem;
    border-left: 1px solid $color-font-10;

    @include _992 {
      height: inherit;
      padding-left: 0;
      border-left: none;
    }
  }

  &__user-name {
    @include font-hint-875;

    color: $color-font-50;
    line-height: 1.0625rem;
    text-decoration: none;

    &:hover {
      color: $color-main;
    }
  }
}
