@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/dropdown/dropdown';
@import '../../components/dateDropdown/dateDropdown';
@import '../../components/button/button';

.bookingForm {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  padding: 2.4rem 1.85rem 1.875rem 1.875rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.28rem;
  }

  &__NumberSymbol {
    font-size: 0.875rem;
    font-weight: bold;
    color: $color-dark-100;
  }

  &__numberValue {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-dark-100;
  }

  &__numberFeature {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-purple;
  }

  &__price-per-day {
    margin-top: 0.5rem;
  }

  &__cost {
    font-size: 0.875rem;
    color: $color-dark-50;
    margin-right: 0.25rem;
    font-weight: bold;
  }

  &__dateUnit {
    font-size: 0.75rem;
    color: $color-dark-50;
  }

  &__calendar {
    margin-bottom: 1.4rem;
  }

  &__dropdown_type_guests {
    margin-bottom: 1.3rem;
  }

  &__result_type_currency {
    text-align: right;
  }

  &__result_type_name-service,
  &__result_type_currency {
    font-size: 0.875rem;
    color: $color-dark-75;
  }

  &__amount-for-days {
    display: grid;
    grid-template-columns: 67.19% 14.06% 18.75%;
    margin-bottom: 0.9rem;

    .bookingForm__result_type_currency {
      grid-column: span 2;
    }
  }

  &__discount {
    display: grid;
    grid-template-columns: 67.19% 14.06% 18.75%;
    align-items: center;
    margin-bottom: 0.95rem;
  }

  &__info-icon {
    cursor: help;
    color: $color-dark-25;
    margin-left: 0.24rem;

    &::after {
      font-family: Montserrat, Helvetica, sans-serif;
      font-size: 0.875rem;
      background: gray;
      border-radius: 8px 8px 8px 0;
      color: white;
      content: attr(
        data-tooltip
      ); /* Главная часть кода, определяющая содержимое всплывающей подсказки */

      margin-top: -24px;
      opacity: 0; /* Наш элемент прозрачен... */
      padding: 3px 7px;
      position: absolute;
      visibility: hidden; /* ...и скрыт. */
      transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
    }

    &:hover::after {
      opacity: 1; /* Показываем его */
      visibility: visible;
    }
  }

  &__price-of-services {
    display: grid;
    grid-template-columns: 67.19% 14.06% 18.75%;
    align-items: flex-start;
    margin-bottom: 1.9rem;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }

  &__totalTitle {
    min-width: 4rem;
  }

  &__totalValue {
    min-width: 4.8rem;
  }

  &__totalTitle,
  &__totalValue {
    font-size: 1.1875rem;
    font-weight: bold;
    color: $color-dark-100;
  }

  &__totalLine {
    width: 100%;
    border-bottom: 0.0625rem dashed $color-dark-25;
    margin-bottom: 0.3rem;
    margin-right: 0.5rem;
  }
}
