@import './vars.scss';
@import './font.scss';

* {
  font-family: Montserrat, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font: 16px Montserrat, Helvetica, sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3 {
  color: $color-dark-100;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.1875rem;
}

h3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}
