@import './vars';

@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin _768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin _680 {
  @media (max-width: 680px) {
    @content;
  }
}

@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin _320 {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin font-button {
  font-size: 0.75rem;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin font-hint {
  font-size: 0.75rem;
  font-family: Montserrat, Arial, sans-serif;
}

@mixin font-hint-875 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.875rem;
}

@mixin font-hint-1-1875 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.1875rem;
}

@mixin font-like-h1 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin reset-button {
  border: none;
  appearance: none;
  user-select: none;
  background: transparent;
  cursor: pointer;
}
