// Screen sizes
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-filter-xs-max: 893px;
$screen-filter-sm-min: 894px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// Colors and gradients
$color-purple: #bc9cff;
$color-green: #6fcf97;
$color-dark-5: #1f20410d;
$color-dark-10: #1f20411a;
$color-dark-25: #1f204140;
$color-dark-50: #1f204180;
$color-dark-75: #1f2041bf;
$color-dark-100: #1f2041;
$grad-purple: linear-gradient(180deg, $color-purple, #8ba4f9);
$grad-purple-25: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.25) 0%,
  rgba(139, 164, 249, 0.25) 100%
);
$grad-green: linear-gradient(180deg, $color-green, #66d2ea);

// font
$font-like-button: 0.625rem;
$font-icon: 3rem;
$font-standard: 1rem;
$font-copyright-icon: 1.5rem;

// box-shadow
$form-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
$checkbox-shadow: 0 0.125rem 0.3125rem $color-dark-25;
$header-shadow: 0 0.625rem 1.25rem $color-dark-5;
$slider-dots-shadow-active: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
$slider-dots-shadow: 0 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3);

// padding
$form-padding: 2.4rem 1.85rem 1.85rem 1.875rem;
$input-padding: 0 2.375rem 0 0.875rem;
$header-padding: 0 1.5rem;
$login-padding: 2.5rem 1.7rem 1.95rem 1.8rem;
