// Screen sizes
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-filter-xs-max: 893px;
$screen-filter-sm-min: 894px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// Colors and gradients
$color-purple: #bc9cff;
$color-green: #6fcf97;
$color-dark-5: #1f20410d;
$color-dark-10: #1f20411a;
$color-dark-25: #1f204140;
$color-dark-50: #1f204180;
$color-dark-75: #1f2041bf;
$color-dark-100: #1f2041;
$grad-purple: linear-gradient(180deg, $color-purple, #8ba4f9);
$grad-purple-25: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.25) 0%,
  rgba(139, 164, 249, 0.25) 100%
);
$grad-green: linear-gradient(180deg, $color-green, #66d2ea);
