@import '../../styles/font';
@import '../../utils/vars.scss';

.type {
  display: flex;
}
.type-title {
  font-family: 'Montserrat';
  text-align: right;
  font-weight: normal;
  color: $color-dark-25;
}
