include ../likeButton/likeButton.pug

mixin feedback(options)
  - const {count='12', isPressed=true} = options || {}

  div.feedback 
    img.feedback__img(src= options.src, alt="фото автара")
    div.feedback__header
      div.feedback__author-name= options.name
      div.feedback__date= options.date
    div.feedback__like-button
      +likeButton({count:count, isPressed: isPressed})
    span.feedback__text= options.text