include ../like-button/like-button.pug

mixin feedback(options)
  - const { src, name, date, text, count = '12', isPressed = true } = options || {};

  .feedback 
    img.feedback__img(src=src, alt="фото автара")
    .feedback__header
      .feedback__author-name= name
      .feedback__date= date
    .feedback__like-button
      +like-button({ count: count, isPressed: isPressed })
    span.feedback__text= text
