include ../likeButton/likeButton.pug

mixin feedback(options)
  - const {src, name, date, text, count = '12', isPressed = true } = options || {}

  div.feedback 
    img.feedback__img(src= src, alt="фото автара")
    div.feedback__header
      div.feedback__author-name= name
      div.feedback__date= date
    div.feedback__like-button
      +likeButton({count:count, isPressed: isPressed})
    span.feedback__text= text