mixin checkbox(options)
  - const { header, rows = [] } = options || {};

  .checkbox
    h3.checkbox__header= header
    ul.checkbox__list 
      each row in rows
        - const { name, title, isChecked = false } = row;
        li.checkbox__item
          label.checkbox__label 
            input&attributes({
              class: "checkbox__input",
              type: "checkbox",
              name: name,
              checked: isChecked,
            })
            span.checkbox__checkbox
            span.checkbox__title= title
