@import '../../utils/vars';
@import '../../utils/mixins';

.checkbox {
  width: 100%;
  max-width: 13.875rem;

  @include _1200 {
    max-width: none;
  }

  &__header {
    @include font-button;

    padding-bottom: 1.0375rem;
  }

  &__label {
    cursor: pointer;
  }

  &__list {
    list-style: none;

    .checkbox__item {
      @include font-hint-875;

      padding-bottom: 0.75rem;
      line-height: 1.125rem;
      color: $color-dark-50;

      .checkbox__checkbox {
        $size: 1.25rem;

        position: absolute;
        width: $size;
        height: $size;
        border: 0.0625rem solid $color-dark-25;
        border-radius: 0.25rem;
      }

      .checkbox__input {
        position: absolute;
        appearance: none;

        &:checked + .checkbox__checkbox {
          border: 0.0625rem solid $color-purple;
          background: url('./img/Vector.svg') no-repeat center center;
        }

        &:focus + .checkbox__checkbox,
        &:hover + .checkbox__checkbox {
          box-shadow: $checkbox-shadow;
        }
      }

      .checkbox__title {
        display: inline-block;
        padding-left: 1.85rem;
      }
    }
  }
}
