mixin checkbox(options)
  - const { header, rows = [] } = options || {};

  .checkbox
    .checkbox__header= header
    ul.checkbox__list 
      each row in rows
        li.checkbox__item
          label.checkbox__label 
            input.checkbox__input(type="checkbox", name=row.name)
            span.checkbox__checkbox
            span.checkbox__title= row.title
