mixin bullet-list(options)
  - const { header, rows = [] } = options || {};

  .bullet-list
    if header
      h3.bullet-list__header= header
    ul.bullet-list__list 
      each row in rows
        - const { text } = row;
        li.bullet-list__item
          .bullet-list__icon 
          p.bullet-list__text= text
