mixin bullet-list(options)
  - const {header, rows = []} = options || {}

  .bullet-list
    if header 
      .bullet-list__header= header 
    ul.bullet-list__list 
      each row in rows 
        li.bullet-list__item
          span.bullet-list__icon 
          span.bullet-list__text= row.text