@import '../../utils/vars';
@import '../../utils/mixins';

.bullet-list {
  width: 100%;
  max-width: 18.25rem;

  @include _1200 {
    max-width: none;
  }

  &__header {
    @include font-button;

    line-height: 0.9375rem;
    margin-bottom: 0.85rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding-bottom: 0.675rem;
    display: grid;
    grid-template-areas: 'icon text';
    grid-template-columns: 0.625rem auto;
    column-gap: 0.65rem;
  }

  &__icon {
    $size: 0.625rem;

    margin-top: 0.4rem;
    grid-area: icon;
    height: $size;
    width: $size;
    background: $color-dark-25;
    align-self: start;
    border-radius: 50%;
  }

  &__text {
    @include font-hint-875;

    grid-area: text;
    align-self: center;
    justify-self: start;
    line-height: 1.5rem;
  }
}
