mixin richCheckbox(options)
  - const {rows = []} = options || {}

  div.richCheckbox
    div.richCheckbox__header= options.header 
    ul.richCheckbox__list
      each row in rows
        li.richCheckbox__item
          label.richCheckbox__label 
            input.richCheckbox__input(type="checkbox", name= row.name)
            span.richCheckbox__checkbox
            span.richCheckbox__title= row.title
            span.richCheckbox__subtitle= row.subtitle