mixin likeButton(options)
  - const {count, isPressed} = options || {}

  - var buttonClass = 'likeButton__button'
  - buttonClass += isPressed ? ' likeButton__button_pressed' : ''
  - var iconClass = 'likeButton__icon material-icons'
  - iconClass += isPressed ? ' likeButton__icon_pressed' : ''
  - var countClass = 'likeButton__count'
  - countClass += isPressed ? ' likeButton__count_pressed' : ''

  .likeButton
    div(class = buttonClass, tabindex="0")
      span(class= iconClass) 
      span(class = countClass)= count