mixin likeButton(options)
  - const {count, isPressed} = options || {}

  - let buttonClass = 'likeButton'
  - buttonClass += isPressed ? ' likeButton_pressed' : ''

  div(class = buttonClass + ' js-likeButton')
    div(class = 'likeButton__button', tabindex="0")
      span(class= 'likeButton__icon material-icons') 
      span(class = 'likeButton__count')= count