mixin rateButton (options)
  - const ratingList = ['Ужасно', 'Так себе', 'Нормально' , 'Хорошо', 'Отлично']

  div.rateButton
      if options.isVariable
         div.rateButton__group 
          - for(let i = 0; i < options.base; i++)
            if options.rate === i+1
              input.rateButton__input(type="radio", name = options.name, id = `rating-${i+1}`, aria-label= `${ratingList[i]}`, checked)
            else
              input.rateButton__input(type="radio", name = options.name, id = `rating-${i+1}`, aria-label= `${ratingList[i]}`)
      if !options.isVariable    
        - for(let i = 0; i < options.base; i++)
          - let iconClass = i >= options.rate ? "rateButton__icon_type_outline" : ""
          span.rateButton__icon(class = iconClass)