@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/dropdown/dropdown';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/button/button';
@import '../../components/icon/icon';

.booking-form {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: $form-shadow;
  padding: $form-padding;
  border-radius: 0.25rem;
  max-width: 23.75rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.05rem;
  }

  &__number-symbol {
    @include font-hint-875;

    font-weight: bold;
    color: $color-font-100;
  }

  &__number-value {
    @include font-like-h1;

    margin-left: 0.25rem;
    margin-right: 0.45rem;
    color: $color-font-100;
  }

  &__number-feature {
    @include font-button;

    color: $color-main;
  }

  &__price-per-day {
    margin-top: 0.5rem;
  }

  &__cost {
    @include font-hint-875;

    color: $color-font-50;
    margin-right: 0.25rem;
    font-weight: bold;
  }

  &__date-unit {
    @include font-hint;

    color: $color-font-50;
  }

  &__calendar {
    margin-bottom: 1.05rem;
  }

  &__dropdown {
    margin-bottom: 1.3rem;
  }

  &__result-currency {
    text-align: right;
  }

  &__result-name-service,
  &__result-currency {
    @include font-hint-875;

    color: $color-font-75;
  }

  &__amount-for-days {
    display: grid;
    grid-template-columns: 67.19% 14.06% 18.75%;
    margin-bottom: 0.75rem;

    .booking-form__result-currency {
      grid-column: span 2;
    }
  }

  &__discount {
    display: grid;
    grid-template-columns: 67.19% 14.06% 18.75%;
    align-items: center;
    margin-bottom: 0.6rem;
  }

  &__info-icon {
    cursor: help;
    color: $color-font-25;
    margin-left: 0.24rem;
    position: relative;
    font-size: $font-copyright-icon;
    display: inline-block;

    &::after {
      @include font-hint-875;

      top: 0;
      left: 1.5625rem;
      background: gray;
      border-radius: 8px 8px 8px 0;
      color: white;
      content: attr(
        data-tooltip
      ); /* Главная часть кода, определяющая содержимое всплывающей подсказки */

      margin-top: -24px;
      opacity: 0; /* Наш элемент прозрачен... */
      padding: 3px 7px;
      position: absolute;
      visibility: hidden; /* ...и скрыт. */
      transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
    }

    &:hover::after {
      opacity: 1; /* Показываем его */
      visibility: visible;
    }
  }

  &__price-of-services {
    display: grid;
    grid-template-columns: 67.19% 14.06% 18.75%;
    align-items: flex-start;
    margin-bottom: 1.9rem;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
  }

  &__total-title {
    min-width: 4rem;
  }

  &__total-value {
    min-width: 4.8rem;
  }

  &__total-title,
  &__total-value {
    @include font-hint-1-1875;

    font-weight: bold;
    color: $color-font-100;
  }

  &__total-line {
    width: 100%;
    border-bottom: 0.0625rem dashed $color-font-25;
    margin-bottom: 0.3rem;
    margin-right: 0.5rem;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
