@import '../../utils/vars';
@import '../../utils/font';
@import '../../utils/mixins';
@import '../../components/rangeSlider/nouislider_style/nouislider.min.css';

.rangeSlider {
  width: 100%;
  max-width: 16.625rem;
  &__header {
    width: inherit;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &__title {
    font-size: 0.75rem;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 5.9375rem;
  }
  &__count {
    display: inline-flex;
    align-items: flex-start;
  }
  &__separator {
    margin: 0 0.25rem 0 0.16rem;
    vertical-align: text-top;
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin-top: 0rem;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
  &__input_min {
    width: 3.3rem;
    color: $color-dark-50;
    border: none;
    text-align: end;
    outline: 0;
    font-size: 0.75rem;
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 0.9375rem;
  }
  &__input_max {
    width: 3rem;
    color: $color-dark-50;
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 0.9375rem;
  }

  .noUi-target {
    box-shadow: none;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.1875rem;
    background: white;
  }
  .noUi-connects,
  .noUi-connect,
  .noUi-target {
    height: 0.375rem;
  }
  .noUi-connect {
    background: $grad-green;
  }
  .noUi-handle {
    border: 0.125rem solid white;
    background: $grad-green;
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 50%;
    box-shadow: none;
    &::before,
    &::after {
      display: none;
    }
  }
  .noUi-horizontal .noUi-handle {
    top: -0.3125rem;
  }
  .noUi-horizontal .noUi-handle-lower {
    right: -0.4rem;
  }
  .noUi-horizontal .noUi-handle-upper {
    right: -0.6rem;
  }
}
