mixin rangeSlider (options)
  - const {title, min, max, description} = options || {}

  div.rangeSlider 
    div.rangeSlider__header
      span.rangeSlider__title= title
      span.rangeSlider__count
        input.rangeSlider__input_min(type='text', value = min)
        span.rangeSlider__separator= '-'
        input.rangeSlider__input_max(type='text', value = max)
    div.rangeSlider__slider
    if description
      p.rangeSlider__description= description