mixin toggle(options)
  - const { header, rows = [] } = options || {};

  .toggle
    if header
      h3.toggle__header= header
    ul.toggle__list
      each row in rows
        - const { name, caption, isChecked = false } = row;
        li.toggle__items
          label.toggle__label
            input&attributes({
              class: "toggle__input",
              type: "checkbox",
              name: name,
              checked: isChecked,
            })
            span.toggle__checkbox 
            span.toggle__caption= caption
