mixin toggle(options)
  - const {rows =[] } = options || {}

  .toggle
    if options.header
      .toggle__header= options.header
    ul.toggle__list
      each row in rows 
        li.toggle__items
          label.toggle__label
            input.toggle__input(type="checkbox", name= row.name)
            span.toggle__checkbox 
            span.toggle__caption= row.caption 