@import '../../utils/vars';
@import '../../utils/font';

.indexMenu {
  $blockClass: &;
  font-family: 'Montserrat', Arial, sans-serif;
  list-style: none;
  line-height: 2.7rem;
  padding: 1rem;

  &_theme {
    &_purple {
      #{$blockClass}__link {
        color: $color-purple;
      }
    }

    &_green {
      #{$blockClass}__link {
        color: $color-green;
      }
    }
  }

  &__link {
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      color: $color-dark-75;
    }
  }
}
