@charset "UTF-8";
@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf) format("truetype"); }

* {
  font-family: 'Montserrat';
  letter-spacing: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 14px;
  line-height: 24px;
  color: #575871; }

h1,
h2,
h3 {
  color: #1f2041; }

h1,
h2 {
  font-family: 'Quiсksand', 'Montserrat'; }

h1 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.4px; }

h2 {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px; }

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2px; }

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }

.color {
  font-family: Quiсksand;
  display: grid;
  grid-template-areas: 'block title' 'block subtitle';
  grid-column-gap: 40px;
  align-items: center;
  justify-content: start; }
  .color .color-block {
    grid-area: block;
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 6px; }
  .color .color-title {
    grid-area: title;
    display: flex;
    line-height: 29px;
    font-size: 19px;
    text-transform: none;
    align-self: flex-end; }
  .color .color-subtitle {
    grid-area: subtitle;
    display: flex;
    line-height: 29px;
    font-size: 19px;
    align-self: flex-start;
    letter-spacing: -1px; }
  .color_dark100 .color-block {
    background-color: #1f2041; }
  .color_dark75 .color-block {
    background-color: #575871; }
  .color_dark50 .color-block {
    background-color: #8f90a0; }
  .color_dark25 .color-block {
    background-color: #c7c7d0; }
  .color_dark10 .color-block {
    background-color: #e9e9ec; }
  .color_dark5 .color-block {
    background-color: #f4f4f6; }
  .color_green .color-block {
    background-color: #6fcf97; }
  .color_purple .color-block {
    background-color: #bc9cff; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf) format("truetype"); }

.type {
  display: grid;
  grid-template-columns: 60px 345px;
  grid-gap: 30px; }

.type-title {
  font-family: 'Montserrat';
  text-align: right;
  font-weight: normal;
  color: #c7c7d0; }

* {
  font-family: Montserrat;
  letter-spacing: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.colorsAndTypes {
  font-family: Quiсksand;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 145px 150px;
  background-color: #fff; }
  .colorsAndTypes .colorsAndTypes-colors {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px; }
  .colorsAndTypes .colorsAndTypes-types {
    display: grid;
    align-content: start;
    grid-row-gap: 50px;
    margin-right: 30px; }
    .colorsAndTypes .colorsAndTypes-types h1 {
      font-size: 24px; }
      .colorsAndTypes .colorsAndTypes-types h1 .type-subtitle {
        font-weight: 700; }
    .colorsAndTypes .colorsAndTypes-types h2 {
      font-size: 19px; }
      .colorsAndTypes .colorsAndTypes-types h2 .type-subtitle {
        font-weight: 700; }
    .colorsAndTypes .colorsAndTypes-types h3 {
      font-size: 12px; }
      .colorsAndTypes .colorsAndTypes-types h3 .type-subtitle {
        font-weight: 700; }
    .colorsAndTypes .colorsAndTypes-types p {
      font-size: 14px; }
  .colorsAndTypes .colorsAndTypes-type_body {
    margin-top: -3px; }
  .colorsAndTypes .colorsAndTypes-type .type-subtitle {
    padding-right: 30px; }

