@charset "UTF-8";
@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf) format("truetype"); }

* {
  font-family: 'Montserrat';
  letter-spacing: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 14px;
  line-height: 24px;
  color: #575871; }

h1,
h2,
h3 {
  color: #1f2041; }

h1,
h2 {
  font-family: 'Quiсksand', 'Montserrat'; }

h1 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.4px; }

h2 {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px; }

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2px; }

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }

@font-face {
  font-family: 'Quicksand';
  src: url(fonts/Quicksand-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf) format("truetype"); }

.fotmElements-input input {
  width: 340px;
  height: 44px;
  padding: 0 15px;
  border: 1px solid #c7c7d0;
  border-radius: 4px;
  outline: none;
  font-size: 14px; }

