extends ../../layout/main.pug

include ../../components/logo/logo.pug
include ../../components/roomSearch/roomSearch.pug
include ../../components/registrationForm/registrationForm.pug
include ../../components/bookingForm/bookingForm.pug
include ../../components/loginForm/loginForm.pug

block variables
  - var title = "Cards"
  - var theme = "body_theme_gray"

block content
  .cards
    nav.cards__logo
      +logo
    .cards__main 
      .cards__grid-column_first
        .cards__card
          +roomSearch
        .cards__card
          +registrationForm
      .cards__grid-column_second 
        .cards__card 
          +bookingForm
        .cards__card
          +loginForm