extends ../../layout/main.pug

include ../../components/logo/logo.pug
include ../../components/roomSearch/roomSearch.pug
include ../../components/registrationForm/registrationForm.pug
include ../../components/bookingForm/bookingForm.pug
include ../../components/loginForm/loginForm.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/roomSketch/roomSketch.pug

block variables
  - var title = "Cards"
  - var theme = "body_theme_gray"

block content
  .cards
    nav.cards__logo
      +logo
    .cards__main 
      .cards__grid-column_first
        .cards__card
          +roomSearch
        .cards__card
          +registrationForm
      .cards__grid-column_second 
        .cards__card 
          +bookingForm
        .cards__card
          +loginForm
      .cards__grid-column_third 
        .cards__card
          +dateDropdown({hidden: true , type:'double',isExpanded:true, id:'second'})
        .cards__card
          +roomSketch({isVip:true, roomNumber:'888', cost:'9 990₽', rows:[
        {src: require('../searchRoom/img/searchRoom_1.png').default, alt: '1'},
        {src: require('../searchRoom/img/searchRoom_5.png').default, alt: '2'},
        {src: require('../searchRoom/img/searchRoom_6.png').default, alt: '3'},
        {src: require('../searchRoom/img/searchRoom_7.png').default, alt: '4'},
        ],isHovered:true, base:5, rate:5 , feedbackNumber: '145', feedbackText: 'Отзывов'})
        .cards__card
          +roomSketch({isVip:false, roomNumber:'840', cost:'9 900₽', rows:[
        {src: require('../searchRoom/img/searchRoom_2.png').default, alt: '2'},
        {src: require('../searchRoom/img/searchRoom_8.png').default, alt: '1'},
        {src: require('../searchRoom/img/searchRoom_5.png').default, alt: '3'},
        {src: require('../searchRoom/img/searchRoom_11.png').default, alt: '4'},
        ],isHovered:false, base:5, rate:4, feedbackNumber: '65', feedbackText: 'Отзывов'})
