extends ../../layout/main.pug

include ../../components/logo/logo.pug
include ../../components/room-search/room-search.pug
include ../../components/registration-form/registration-form.pug
include ../../components/booking-form/booking-form.pug
include ../../components/login-form/login-form.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/room-sketch/room-sketch.pug

block variables
  - title = 'Cards';

block content
  - const { rooms } = require('../../pages/cards/cardsValue.json');

  .cards
    nav.cards__logo
      +logo
    .cards__main
      .cards__grid-column_first
        .cards__card
          +room-search
        .cards__card
          +registration-form
      .cards__grid-column_second 
        .cards__card 
          +booking-form
        .cards__card
          +login-form
      .cards__grid-column_third 
        .cards__card
          +date-dropdown({ hidden: true, type: 'double', isExpanded: true })
        each val, index in rooms
          -
            const currentRoomName = `room${index + 1}`;
            const currentRoom = rooms[index][currentRoomName];
            const { 
              isVip, 
              roomNumber, 
              cost,
              isHovered, 
              base, 
              rate, 
              feedbackNumber, 
              feedbackText, 
              rows 
            } = currentRoom;
          //- prettier-ignore
          .cards__card
            +room-sketch({ 
              isVip: isVip, 
              roomNumber: roomNumber, 
              cost: cost,
              isHovered: isHovered, 
              base: base,
              rate: rate,
              feedbackNumber: feedbackNumber, 
              feedbackText: feedbackText, 
              rows: [ 
                {
                  src: rows[0].src, alt: '1 фото номера'
                }, 
                {
                  src: rows[1].src, alt: '2 фото номера'
                }, 
                {
                  src: rows[2].src, alt: '3 фото номера'
                }, 
                {
                  src: rows[3].src, alt: '4 фото номера'
                }, 
              ]
            })
