@import '../../utils/main';
@import '../../utils/mixins';
@import '../../components/room-search/room-search';
@import '../../components/registration-form/registration-form';
@import '../../components/booking-form/booking-form';
@import '../../components/login-form/login-form';
@import '../../components/room-sketch/room-sketch';

.cards {
  overflow: hidden;

  &__logo {
    margin: 1.875rem auto 4.3rem;
    width: 80%;
  }

  &__main {
    display: grid;
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 1.5rem;
    grid-template-columns: 1.1875fr 1.1875fr 1fr;
    column-gap: 2.5rem;

    @include _1200 {
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      justify-items: center;
    }
  }

  &__grid-column_first {
    max-width: 23.75rem;

    .button_theme_white {
      padding: 0 1.45em 0 1.5rem;
    }
  }

  &__card {
    margin-bottom: 2.5rem;
  }

  &__grid-column_second {
    .button_theme_white {
      padding: 0 1.1rem 0 1rem;
    }
  }

  &__grid-column_third {
    .date-dropdown__group_double {
      display: none;
    }

    .cards__card {
      &:nth-child(2) {
        max-width: 16.875rem;
        margin-bottom: 2.3rem;
      }

      &:nth-child(3) {
        max-width: 16.875rem;
      }
    }
  }
}
