@import '../../utils/main.scss';
@import '../../utils/mixins';
@import '../../components/roomSearch/roomSearch.scss';
@import '../../components/registrationForm/registrationForm.scss';
@import '../../components/bookingForm/bookingForm.scss';
@import '../../components/loginForm/loginForm.scss';

.cards {
  overflow: hidden;
  &__logo {
    margin: 1.875rem auto 4.5rem auto;
    width: 80%;
  }
  &__main {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8.75rem;
    grid-template-columns: 1.1875fr 1.1875fr 1fr;
    column-gap: 2.5rem;
    @include _1200 {
      padding: 0 1.5rem;
    }
  }
  &__grid-column_first {
    max-width: 23.75rem;
  }
  &__card {
    margin-bottom: 2.5rem;
  }
}
