extends ../../layout/main.pug

include ../../components/logo/logo.pug
include ../../components/room-search/room-search.pug
include ../../components/registration-form/registration-form.pug
include ../../components/booking-form/booking-form.pug
include ../../components/login-form/login-form.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/room-sketch/room-sketch.pug

block variables
  - var title = "Cards"
  - var theme = "body_theme_gray"

block content
  .cards
    nav.cards__logo
      +logo
    .cards__main 
      .cards__grid-column_first
        .cards__card
          +room-search
        .cards__card
          +registration-form
      .cards__grid-column_second 
        .cards__card 
          +booking-form
        .cards__card
          +login-form
      .cards__grid-column_third 
        .cards__card
          +date-dropdown({hidden: true , type:'double',isExpanded:true})
        .cards__card
          +room-sketch({isVip:true, roomNumber:'888', cost:'9 990₽', rows:[
        {src: require('../search-room/img/search-room_1.png').default, alt: '1'},
        {src: require('../search-room/img/search-room_5.png').default, alt: '2'},
        {src: require('../search-room/img/search-room_6.png').default, alt: '3'},
        {src: require('../search-room/img/search-room_7.png').default, alt: '4'},
        ],isHovered:true, base:5, rate:5 , feedbackNumber: '145', feedbackText: 'Отзывов'})
        .cards__card
          +room-sketch({isVip:false, roomNumber:'840', cost:'9 900₽', rows:[
        {src: require('../search-room/img/search-room_2.png').default, alt: '2'},
        {src: require('../search-room/img/search-room_8.png').default, alt: '1'},
        {src: require('../search-room/img/search-room_5.png').default, alt: '3'},
        {src: require('../search-room/img/search-room_11.png').default, alt: '4'},
        ],isHovered:false, base:5, rate:4, feedbackNumber: '65', feedbackText: 'Отзывов'})
