@import '../../utils/vars';
@import '../../utils/mixins';
@import '../../components/dropdown/dropdown';
@import '../../components/dateDropdown/dateDropdown';
@import '../../components/button/button';

.roomSearch {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.85rem 1.875rem 1.875rem;
  border-radius: 0.25rem;

  &__header {
    padding-bottom: 1.35rem;
  }

  &__calendar {
    padding-bottom: 1.35rem;
  }

  &__dropdown_guests {
    padding-bottom: 2rem;
  }
}
