extends ./main.pug

include ../components/header/header.pug
include ../components/footer/footer.pug

block content
  .pages
    header.pages__header
      +header
    main.pages__main
      block main
    footer.pages__footer
      +footer
