@import '../../utils/mixins';
@import '../../utils/vars';

.tag-example {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  column-gap: 1.9rem;

  &__title {
    text-align: right;
    font-weight: normal;
    color: $color-dark-25;
  }

  &__subtitle_p {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &_h1 {
    margin-bottom: 0.3125rem;
  }

  &_h2 {
    margin-bottom: 0.0625rem;
  }

  &_p {
    max-width: 23.75rem;

    .tag-example__title {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }
}
